<div class="browse" *ngIf="!errorMsg">
  <section class="clearfix flex py2">
    <!-- responsive side spacing -->
    <div class="px1 sm-hide"></div>
    <div class="col col-2 lg-show"></div>
    <div class="col col-1 sm-show lg-hide"></div>
    <div class="col col-8 flex-grow">
      
      <!-- categories display for screens >= medium -->
      <div class="lg-show">
        <div class="border p1 clearfix flex flex-justify rounded bg-silver">
          <button md-button 
            color="primary" routerLink="/browse-programs/{{ category }}"
             routerLinkActive="active" *ngFor="let category of (categories | async)">
             {{ category }}
          </button>
        </div>
      </div>
      
      <!-- categories display for screens <= small -->
      <div class="lg-hide">
        <select name="category"  (change)="selectChange($event)" class="block col-12 field rounded center">
          <option [selected]="category === currentCategory">all</option>
          <option 
            *ngFor="let category of ( categories | async )"
            [selected]="category === currentCategory">{{category}}</option>
        </select>
      </div>
      
      <div class="col col-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- responsive side spacing -->
    <div class="px1 sm-hide"></div>
    <div class="col col-2 lg-show"></div>
    <div class="col col-1 sm-show lg-hide"></div>
  </section>
</div>