button[md-button].active {
  background-color: #ff4081;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.browse {
  min-height: 95vh;
  width: 100vw;
  overflow-y: auto;
}

section {
  min-height: 95vh;
  width: 100vw;
  background-image: url(assets/city-skyline-greyscale.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  background-color: silver;
	border-radius: 3px;
  padding: 0.5rem 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  margin-top: 2rem;
}

.tag-select {
  margin: 0 auto;
  width: 75%;
  background-color: silver;
  display: flex;
  margin-top: 2rem;
}

option {
  padding: 0.25rem 0;
}

.category {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
}

select > option {
  font-family: 'Roboto Mono', monospace;
}

select {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 4px;
}

button[md-button]:not(.active):hover {
  background-color: pink;
  color: black;
}

button[md-button] {
  font-family: 'Roboto Mono', monospace;
  font-size: 110%;
}

.browse {
  height: 94vh;
  position: fixed;
}

@media(min-width: 40em) {
  .browse {
    overflow-x: hidden;
  } 
}

@media(max-width: 40em) {
  .browse {
    overflow-x: auto;
  } 
}