<div class="browse" *ngIf="!errorMsg">
  <section>

    <!-- categories display for screens >= medium -->
    <div class="lg-show">
      <div class="tag-container">
        <button md-button color="primary" routerLink="/browse-programs/{{ category }}" routerLinkActive="active" *ngFor="let category of (categories | async)">
             {{ category }}
          </button>
        <button md-button color="primary" routerLink="/browse-programs/all" routerLinkActive="active">
              all
          </button>
      </div>
    </div>

    <!-- categories display for screens <= small -->
    <div class="lg-hide">
      <select name="category" (change)="selectChange($event)" class="tag-select">
          <option [selected]="category === currentCategory">all</option>
          <option 
            *ngFor="let category of ( categories | async )"
            [selected]="category === currentCategory">{{category}}</option>
        </select>
    </div>

    <div style="width: 100%;">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>