<div class="flex flex-column">
  <button md-mini-fab 
    routerLink="/admin/master-screener/edit/version/{{version}}/question/{{question.key}}"
    color="primary">
    <i class="material-icons">create</i>
  </button>
  <div class="py1"></div>
  <button md-mini-fab color="warn" (click)="onDelete()">
    <i class="material-icons">clear</i>
  </button>
  <div *ngIf="question.expandable">
    <div class="py1"></div>
    <button md-mini-fab color="primary"
      routerLink="/admin/master-screener/edit/version/{{version}}/conditionals/question/{{question.key}}">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>