<form class="user-question"  [formGroup]="form">



  <div [ngClass]="{ 'filter-question': filterQuestion }">
  <md-tab-group style="width: 100%; ">
    <md-tab label="View" >
      
      <div class="flex flex-column space-around col-12 p1" style="background-color: lightblue; height:20vh;">
        
        <div id="meta-information" class="col-4 border-left px1"> question {{ question.index }} </div>
        <div id="spacer" class ="col-6"></div>
        <div class="clearfix flex py1"></div>
        
        
        

        <section [ngSwitch]="question.controlType">
          
          <div *ngSwitchCase="'NumberInput'">
            <md-card-title id="question-label"> {{ question.label }} </md-card-title>
 
            <div class="py1"></div>

            <md-input  placeholder="input here"></md-input>
          
          </div>

          <div *ngSwitchCase="'CheckBox'"> 
            <md-checkbox > {{ question.label }} </md-checkbox>
          </div>


          <div *ngSwitchCase="'NumberSelect'">
            <md-card-title id="question-label"> {{ question.label }} </md-card-title>

            <select style="width: 15vw"> 
              <option *ngFor="let option of question.options"> {{ option }} </option>
            </select>
          </div>

          
        
          <div *ngSwitchDefault> <strong> {{ question.controlType }} is invalid </strong> </div>

        </section>

        <div class="py1"></div>
      </div>

    </md-tab>
    
    <md-tab label="Edit" >
     
       <div class="flex flex-column space-around p1 col-12" style="background-color: lightgray; height:20vh;">
        
        <div class="clearfix flex flex-center">
          <md-input formControlName="label"  class="col-8" placeholder = "question label"></md-input>
          <div class="col-1 flex-grow"></div>
        </div>

        <div class="flex flex-center col-12">
          <label>Key Value
            <select formControlName="key" placeholder = "question key">
              <option disabled selected [value]="question.key"> {{ question.key }} </option>
              <option *ngFor="let key of unusedKeys" [value]="key.name"> {{ key.name }} </option>
            </select>
          </label>
          <div class="col-1"></div>
          <label>Control Value
            <select formControlName="controlType" placeholder = " control type ">
              <option selected disabled [value]="question.controlType"> {{ question.controlType }} </option>
              <option [selected]="question.controlType === 'NumberInput'" [value]="'NumberInput'" > type </option>
              <option [selected]="question.controlType === 'CheckBox'" [value]="'CheckBox'" > checkbox </option>
              <option [selected]="question.controlType === 'NumberSelect'" [value]="'NumberSelect'" > button </option>
            </select>
          </label>
          <div class="col-1"></div>
          <label *ngIf="question.controlType === 'CheckBox'"> Expandable
            <md-checkbox class="pl2" formControlName="expandable"></md-checkbox>
          </label>
        </div>

        
        <div class="flex col-12 flex-center" *ngIf="question.controlType === 'NumberSelect'">
          <md-input class="col-4" (input)="handleInput($event)" [value]= "optionValue" placeholder="option value"></md-input>
          <button md-button (click)="handleOptionAdd()"> => </button>
          <md-chip-list>
            <md-chip (click)="removeOption(i)" *ngFor="let option of question.options; let i = index"> {{ option }} </md-chip>
          </md-chip-list>
        </div>

      </div>
      
   </md-tab>
  
  </md-tab-group>

  
    <div *ngIf="form.errors">
      {{ form.errors | json }}
    </div>

  </div>


  
</form>