.large-admin-wrapper {
  height: calc(100% - 64px);
  overflow-y: hidden;
}

.medium-admin-wrapper {
  height: calc(100% - 128px);
}

.large-sidenav-wrapper {
  width: 240px;
  background-color: lightblue;
  overflow-y: auto;
  height: 100%;
}

.large-admin-content-wrapper {
  
  height: calc(100% - 8vh)
}