md-card {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  background-color: lightgray;
}


@media(min-width: 60em) {
  .program {
    width: 50vw;
    min-height: 25vh;
  }
}


@media(min-width: 30em) and (max-width: 60em){
  .program {
    width: 75vw;
    min-height: 25vh;
  }

}


@media(max-width: 30em){
  .program {
    width: 90vw;
    min-height: 25vh;
  }
}