<md-card class="program-width">
  <md-card-title> {{program?.title}} </md-card-title>
  <md-card-content>
      <p>{{ program?.description }} </p>
  </md-card-content>
  <a *ngIf="program.externalLink?.length > 0" href="http://{{ program.externalLink }}" target="_blank">
    more information
  </a>
  <md-card-actions>
    <button md-raised-button 
      *ngFor="let tag of program?.tags" 
      routerLink="/browse-programs/{{tag}}"
      routerLinkActive="active"> {{tag}} </button>
  </md-card-actions>
</md-card>