md-card {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  background-color: lightgray;
  min-width: 50vw;
  max-width: 60vw;
}

@media (max-width: 60em) {
  .program {
    width: 90vw;
    max-width: 90vw;
  }
}