#result-count {
  padding-top: 0.25em;
}

#result-count > md-card-title {
  font-family: 'Open Sans', sans-serif;
}

.response-container{
  margin: 0 auto;
  will-change: opacity;
}

@media(min-width: 64em) {
  .result-text {
    width: 30%;
    margin: 0 auto;
  }

  .response-container {
    width: 50%;
  }
}


@media(min-width: 52em) and (max-width:64em) {
  .result-text {
    width: 60%;
    margin: 0 auto;
  }

  .response-container {
    width: 80%;
  }
}


@media(min-width: 40em) and (max-width: 52em) {
  .result-text {
    width: 60%;
    margin: 0 auto;
  }

  .response-container {
    width: 80%;
  }
}


@media(min-width: 30em) and (max-width: 40em){
  .result-text {
    width: 75%;
    margin: 0 auto;
  }

  .response-container {
    width: 80%;
  }
}


@media(max-width: 30em){
  .result-text {
    width: 95%;
    margin: 0 auto;
  }

  .response-container {
    width: default;
  }
}
