h1 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

main {
  height: 95vh;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
}

@media(min-width: 40em) {
  main {
    height: 95vh;
    width: 100vw;
  }
}


@media(max-width: 40em){
  main {
    height: 95vh;
    width: 100vw;
  }
}