<main class="col-12 flex py1">
  <div class="col-1"></div>
  <div class="col-10 flex">
    <div class="col-1"></div>
    <div class="col-10 flex flex-column bg-silver center py2">
      <md-card-title>Question Label</md-card-title>
      <md-card-subtitle>The question for the user</md-card-subtitle>
      <md-input 
        [value]="label" 
        placeholder="type question" 
        (input)="saveInput($event.target.value)">
      </md-input>
      <div class="flex col-4">
        <div class="col-4"></div>
        <button class="col-8" md-raised-button (click)="changeLabel()" color="primary">save</button>
      </div>
      
    </div>
    <div class="col-1"></div>
  </div>
  <div class="col-1"></div>
</main>
