<div class="flex flex-justify clearfix" *ngIf="!(saving$ | async)">
  <div class="col-3"></div>
  <button md-mini-fab color="primary" *ngIf="(unsavedEdits$ | async)" (click)="handleSave()">
    <i class="material-icons">save</i>
  </button>
  <div class="px2 flex-none"></div>
  <button 
    md-mini-fab 
    color="warn"
    (click)="handleClear()">
    <i class="material-icons">clear</i>
  </button>
  <div class="px2 flex-none"></div>
  <!--
  <button md-mini-fab 
     color="primary" 
    (click)="handleUndo()">
    <i class="material-icons">undo</i>
  </button>
  <div class="px2 flex-none"></div>
  <button md-mini-fab 
    color="primary"
    (click)="handleRedo()">
    <i class="material-icons">redo</i>
  </button>
  -->
  <div class="col-3"></div>
  <button 
    routerLink="/admin/master-screener/edit/version/{{version}}/question/new"
    md-raised-button 
    color="primary">ADD QUESTION</button>
  <div class="px2 flex-grow"></div>
</div>