<div class="flex col-12" style="min-height:45vh;">
  <md-list class="col-3">
    <div class="flex col-12">
      <div class="col-1"></div>
      <button class="col-10" md-button style="background-color:#0074d9" (click)="addQuestion.emit()"> 
        add question
      </button>
      <div class="col-1"></div>
    </div>

    <br><br>
    <md-divider></md-divider>

    <md-list-item class="question" [ngClass]="styles[question.id]" *ngFor="let question of (questions | async)" 
      (click)="selectQuestion(question)"
      draggable="true"
      (dragstart)="dragStart(question, $event)"
      (dragenter)="dragEnter(question, $event)"
      (dragover)="dragOver(question, $event)"
      (dragleave)="dragLeave(question)"
      (drop)="drop(question, $event)"
      (dragend)="dragEnd()">
      <h4 md-line>{{question.key}}</h4>
      <h4 md-line>{{question.controlType}}</h4>
    </md-list-item>
  </md-list>
  <md-card class="conditional-question col-9 flex-grow" style="min-height: 40vh;">
    <div class="flex col-12"> 
      <md-card-title> Selected Expandable Question </md-card-title>
      <div class="flex-grow"></div>
      <button md-raised-button color="warn" style="min-width: 10vw" (click)="deleteConditionalQuestion()" style="font-size: 125%"> &#10006; </button>
    </div>
    <app-user-question [question]="selectedQuestion | async"></app-user-question>
  </md-card>
  <div class="flex flex-center blue" style="margin: 0 auto" *ngIf="(questions | async)?.length === 0">
    <div>No conditional questions assigned.</div>
  </div>
  <div class="flex flex-center blue" style="margin: 0 auto" *ngIf="(selectedQuestion | async) === undefined && (questions | async)?.length > 0">
    <div>No conditional questions selected.</div>
  </div>
</div>