.conditional-question { 
  margin-right: 1vw;
}

#conditional-overview {
  background-color: darkslateblue;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 10vw;
}


md-list {
  overflow: scroll;
  background-color: darkslateblue;
  max-width: 10vw;
  height: 45vh;
}

.question {
  cursor: pointer;
}

.dragStart {
  opacity: 0.4;
}

.dragOver {
  border: 2px dashed #000;
}

.selected {
  background-color: #0074d9;
}

.error {
  background-color: darkred;
}