.conditional-question { 
  margin-right: 1vw;
}

#conditional-overview {
  background-color: darkslateblue;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 10vw;
}

.question-select {
  cursor: pointer;
}

.dragStart {
  opacity: 0.4;
}

.dragOver {
  border: 2px dashed #000;
}

.selected {
  background-color: #0074d9;
}

.wrapper {
  min-height: 45vh;
}