:host {
  height: 100%;
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: darkslateblue;
}

.control-header {
  padding: 0.4em;
}

.question {
  cursor: pointer;
}

.dragStart {
  opacity: 0.4;
}

.dragOver {
  border: 2px dashed #000;
}

.selected {
  background-color: #0074d9;
}

.error {
  background-color: darkred;
}