main {
  width: 100%;
  height: 100%;
  height: 92vh;
  overflow: scroll;
  background-color: darkslateblue;
}

.question {
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  padding-left: 1em
}

.dragStart {
  opacity: 0.4;
}

.dragOver {
  border: 2px dashed #000;
}

.selected {
  background-color: #0074d9;
}