<div [ngSwitch] = "width$ | async">
  <div *ngSwitchCase="'LARGE'" [style.background-color]="'lightblue'" class="flex flex-column" [style.height]="'95vh'" [style.width]="'100%'">
    <div class="flex-grow">
      <div style="width:60%; margin-left:20vw; margin-right:20vw; margin-top:5vh;">
        <form [formGroup]="form$ | async">
          <gen-ycb-question 
            [question]="currentQuestion$ | async"
            [width]="width$ | async">>
          </gen-ycb-question>
        </form>
      </div>
    </div>
  </div>
  
  <div *ngSwitchDefault [style.background-color]="'lightblue'" class="flex flex-column" [style.height]="'95vh'" [style.width]="'100%'">
    <div class="flex-grow">
      <div style="width: 90%;  margin-left:5vw; margin-right:5vw; margin-top:5vh;">
        <form [formGroup]="form$ | async">
          <gen-ycb-question 
            [question]="currentQuestion$ | async"
            [width]="width$ | async">
          </gen-ycb-question>
        </form>
      </div>
    </div>
  </div>
</div>

