<main>
  <h1 class="center"> Master Screener </h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
      <div *ngFor="let question of (questions$ | async); let i = index" class="clearfix flex">
        <div class="questions">
          <app-question [question]="question" 
            [index]="i + 1" 
            [length]="(questions$ | async).length" 
            [conditional]="false" [form]="form"
            (onExpand)="addControls($event)" (onHide)="removeControls($event)">
          </app-question>
        </div>
      </div>
    </div>

    <!-- submit controls for screens >= md -->
    <section class="clearfix">
      <div class="p2"></div>
      <div class="container">
        <!-- submit/clear (TODO) buttons -->
        <div class="submit-wrapper rounded flex p2">
          <button 
              class="flex-grow" 
              md-raised-button color="primary"
              type="submit" [disabled]="form.untouched">
            Start
          </button>
        </div>
      </div> 
      <div class="p2"></div>
    </section>
  </form>
</main>