<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <div *ngFor="let question of (questions$ | async); let i = index" class="clearfix flex">
      <!-- responsive side spacing -->
      <div class="px1 sm-hide"></div>
      <div class="col col-2 lg-show"></div>
      <div class="col col-1 sm-show lg-hide"></div>

      <div class="col col-8 flex-grow">
        <app-question 
          [question]="question" 
          [index]="i + 1" 
          [length]="(questions$ | async).length" 
          [conditional]="false" 
          [form]="form"
          (onExpand)="addControls($event)"
          (onHide)="removeControls($event)">
        </app-question>
      </div>

      <!-- responsive side spacing -->
      <div class="col col-2 lg-show"></div>
      <div class="col col-1 sm-show lg-hide"></div>
      <div class="px1 sm-hide"></div>
    </div>
  </div>

  <!-- submit controls for screens >= md -->
  <section>
    <div class="p2"></div>
    <div class="clearfix flex">
      <!-- responsive side spacing -->
      <div class="px1 sm-hide"></div>
      <div class="col col-2 lg-show"></div>
      <div class="col col-1 sm-show lg-hide"></div>

      <!-- submit/clear (TODO) buttons -->
      <div class="col col-8 border rounded flex-grow" style="border-color: #009688">
        <div class="m2 flex">
          <button
            class="flex-grow"
            type="submit"
            [disabled]="form.untouched" 
            md-raised-button color="primary">SUBMIT</button>
        </div>
      </div>

      <!-- responsive side spacing -->
      <div class="col col-2 lg-show"></div>
      <div class="col col-1 sm-show lg-hide"></div>
      <div class="px1 sm-hide"></div>
    </div>
    <div class="p2"></div>
  </section>
</form>