<app-bread-crumb>
  <app-key-overview-controls></app-key-overview-controls>
</app-bread-crumb>
<div class="py2"></div>
<md-card-subtitle> 
  You are only allowed to create keys. Updating or deleting has consequences on the search engine that are 
  not easily reconciled. It is suggested to create keys and ignore ones not being currently used etc. 
</md-card-subtitle>

<section class="col-12 flex">
  <div class="col-3 bg-grey border"></div>
  <table class="col-6" >
      <tr>
        <th> key name </th>
        <th> key type </th>
        <th></th>
      </tr>
      <tr *ngFor="let key of (loadedKeys$ | async)" class="py2">
        <td> {{ key.name }} </td>
        <td> {{ key.type }} </td>
        <td>
          <button 
            disabled
            md-mini-fab color="warn"
            (click)="removeKey(key)">
              <i class="material-icons">clear</i>
          </button>
        </td>
      </tr>
  </table> 
  <div class="col-3 bg-grey border"></div>
</section>