@media(min-width: 700px){
  .navbar-container{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding: 5px 0px
  }
}

@media(max-width: 300px){
  .navbar-container{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

input[type='textbox'] {
  font-family: inherit;
  font-size: inherit;
  display: block;
  height: 100%;
  padding: .5rem;
  color: navy;
  border: 1px solid black;
  width: 100%;
}

nav{
  min-height:5vh; 
  height: 5%;
  width:100%;
}