<nav class="clearfix white border-bottom bg-black">
  <div class="navbar-container">
    <div>
      <a class="btn btn-outline" [routerLink]="['/']">home</a>
      <a href="/" class="btn btn-outline">About</a>
    </div>
    <div class="flex flex-grow container md-show" id="search">
      <input class="flex-center flex-grow rounded" type='textbox' placeholder="search programs">
    </div>
    <a class="btn btn-outline md-show" [routerLink]="['/']" style="pointer-events: none;">
        login/logout
    </a>

  </div>
  
  
</nav>