<app-bread-crumb class="col col-12">
  <app-edit-question-toolbar-controls class="col col-12"></app-edit-question-toolbar-controls>
</app-bread-crumb>
<app-edit-question-display-controls
  (toggleKeys)="keyToggle($event)"
  (toggleControlType)="controlTypeToggle($event)"
  (toggleQuestionType)="questionTypeToggle($event)"
  (toggleExpand)="expandToggle($event)"
  (toggleLabel)="labelToggle($event)"
  (toggleDetails)="detailsToggle($event)"
  [showDetails]="showDetails"
  [showControlType]="showControlType"
  [showQuestionType]="showQuestionType"
  [showLabel]="showLabel"
  [showKeys]="showKeys"
  [showExpand]="showExpand">
</app-edit-question-display-controls>
<md-card class="col col-12 overview-wrapper">
  <app-question-details 
    (detailClick)="focusOnDetails($event)" 
    *ngIf="showDetails">
  </app-question-details>
  
  <div class="py3" *ngIf="showDetails"></div>
  
  <app-edit-question-control-type 
    [controlType]="(editQuestion$ | async).question.controlType"
    *ngIf="showControlType">
  </app-edit-question-control-type>
  
  <app-edit-question-type 
    [type]="(editQuestion$ | async).question.type"
    (booleanSelected)="showExpandedSection($event)"
    *ngIf="showQuestionType">
  </app-edit-question-type>
  
  <app-edit-question-label 
    [label]="(editQuestion$ | async).question.label"
    *ngIf="showLabel">
  </app-edit-question-label>
  
  <app-edit-question-key 
    [unusedKeys]="(editQuestion$ | async).unusedKeys"
    [currentKey]="(editQuestion$ | async).question.key"
    *ngIf="showKeys">
  </app-edit-question-key>
  
  <app-edit-question-expandable 
    [expandable]="(editQuestion$ | async).question.expandable"
    [controlType]="(editQuestion$ | async).question.controlType"
    [questionType]="(editQuestion$ | async).question.type"
    *ngIf="showExpand">
  </app-edit-question-expandable>
  
  <div class="py2"></div>
  {{ editQuestion$ | async | json }}
</md-card>

