<md-card style="border: none">
  <div class="flex flex-column" style="height: 50vh;">
    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="documentation"> Documentation  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-1">
        <md-card-subtitle> Social Insurance Number (SIN) </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-2">
        <md-card-subtitle> Notice of Assessment </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-3">
        <md-card-subtitle> Alberta Health Insurance Card </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-4">
        <md-card-subtitle> Birth Certificate </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-5">
        <md-card-subtitle> Immigration Documents </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-6">
        <md-card-subtitle> Direct Deposit Information </md-card-subtitle>
      </a>
    </div>

    <div class="py2"></div>

    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="support"> Supports  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-1">
        <md-card-subtitle> Alberta Works </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-2">
        <md-card-subtitle> AISH </md-card-subtitle>
      </a>
    </div>   
  </div>
</md-card>


<main class="large-main">
  <div class="p2"></div>
  <div id="documentation">
    <section>
      <h1>Documentation</h1>
      <p> In order to apply for benefits you will be asked to provide certain documents to confirm eligibility. 
          Here is a list of some common documents you may be asked for.
    </section>

    <section id="documentation-1">
      <h1> Social Insurance Number (SIN) </h1>
      <p>The Social Insurance Number (SIN) is a nine-digit number that you need to work in Canada
         or to have access to government programs and benefits.To register for a SIN or 
         to replace a missing SIN letter please visit 
         <a target="_blank" href="https://www.canada.ca/en/employment-social-development/services/sin">
         here
         </a> 
         or call 1-800-206-7218
    </section>

    <section id="documentation-2">
      <h1> Notice of Assessment </h1>
      The Notice of Assessment is proof of your income from your last tax return. Many benefits 
      ask for this to verify that you are eligible.To get a copy of your Notice of Assessment, 
      contact the Canada Revenue Agency at 1-800-959-8281 or visit their 
      <a target="_blank" href="www.cra-arc.gc.ca"> website </a> 
      
    </section>

    <section id="documentation-3">
      <h1> Alberta Health Card </h1>
        <p>The Alberta Health Card allows almost all Albertans to access medical services like hospitals and doctors. 
           To replace a lost Health Card call 780-427-1432 or visit an Alberta Registry Office.
          To register for a Health Card call 780-427-1432 or visit 
        <a taget="_blank" href="http://www.health.alberta.ca/AHCIP/register-for-AHCIP.html">
          http://www.health.alberta.ca/AHCIP/register-for-AHCIP.html
        </a>
    </section>

    <section id="documentation-4">
      <h1> Birth Certificate </h1>
        To get a copy of your birth certificate, contact Service Alberta at 780-427-7013 or by visiting 
        <a href="https://www.servicealberta.ca/birth-certificates.cfm" target="_blank">
          here
        </a>
    </section>

    <section id="documentation-5">
      <h1> Immigration Documents </h1>
      An Immigration Document or a Verification of Status (VoS) is used to prove that someone has legally immigrated to Canada and is eligible for benefits.
You can get either one of these documents by calling 1-888-242-2100 or visiting 
 <a href="http://www.cic.gc.ca/english/information/applications/certcopy.asp" target="_blank">
  here
 </a>
      
    </section>

    <section id="documentation-6">
      <h1> Direct Deposit Information </h1>
      you can get it from your bank. You need 3 numbers your Transit ID, Your Bank ID, and your Account Number
      
    </section>
  </div>

  <div class="p4"></div>

   <section id="support">
    <p>  In Alberta there are multiple available income supports available for 
      individuals and families who do not have a stable source of income. <br><br>
  </section>
  <div class="p2"></div>
  <section id="support-1">
    <h1>Alberta Works </h1>
      <p>For people who are of working age (18-65) and do not have a permanent disability you 
        can apply through Alberta Works for the Expected to Work, Barriers to Employment/Medical, 
        or Learners programs. Visit the Alberta Works 
        <a href= "http://www.humanservices.alberta.ca/financial-support/689"> website</a>
         for more information.
  </section>
  <div class="p2"></div>
  <section id="support-2">
    <h1>AISH </h1>
    <p>For people who are of working age (18-65) with a permanent disability you can apply for 
      Assured Income for the Severely Handicapped (AISH). 
      Visit the AISH <a href="https://www.alberta.ca/aish.aspx"> website </a> 
  </section>
  <div class="p2"></div>
  <section id="support-3">
    <h1>Item 3 </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque. Donec
      non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum vitae eleifend
      nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque. Nulla vel pharetra
      lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit amet. Integer euismod,
      sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia lacus. Donec iaculis ut velit
      eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie. Integer eu volutpat orci. Donec sollicitudin
      sapien venenatis est feugiat, quis mollis ipsum lobortis.
      <a routerLink="/quick-links">Item 3</a>
  </section>
</main>

<!-- small screens -->
<md-sidenav-container>
  <!-- sidenav content -->
  <md-sidenav mode="side" #sidenav opened="false">
    <button md-button id="sidenav-close" (click)="sidenav.toggle()" style="width: 100%">
      &#8658;
    </button>
    <div class="flex flex-column">
    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="documentation-small"> Documentation  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-1-small">
        <md-card-subtitle> Social Insurance Number (SIN) </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-2-small">
        <md-card-subtitle> Notice of Assessment</md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-3-small">
        <md-card-subtitle> Alberta Health Insurance Card </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-4-small">
        <md-card-subtitle> Birth Certificate </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-5-small">
        <md-card-subtitle> Immigration Documents </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-6-small">
        <md-card-subtitle> Direct Deposit Information </md-card-subtitle>
      </a>
    </div>

    <div class="py2"></div>

    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="support-small"> Supports  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-1-small">
        <md-card-subtitle> Alberta Works </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-2-small">
        <md-card-subtitle> AISH </md-card-subtitle>
      </a>
    </div>
  </div>
  </md-sidenav>

  


  <!-- primary content -->
  <main>
    <div class="p2"></div>
    <div id="documentation-small">
      <section>
        <h1>Documentation</h1>
        <p> In order to apply for benefits you will be asked to provide certain documents to confirm eligibility. 
            Here is a list of some common documents you may be asked for.
      </section>

      <section id="documentation-1-small">
        <h1> Social Insurance Number (SIN) </h1>
        <p>The Social Insurance Number (SIN) is a nine-digit number that you need to work in Canada
          or to have access to government programs and benefits.To register for a SIN or 
          to replace a missing SIN letter please visit 
          <a target="_blank" href="https://www.canada.ca/en/employment-social-development/services/sin">
          here
          </a> 
         or call 1-800-206-7218
      </section>

      <section id="documentation-2-small">
        <h1> Item 2 </h1>
        <h1> Notice of Assessment </h1>
      The Notice of Assessment is proof of your income from your last tax return. Many benefits 
      ask for this to verify that you are eligible.To get a copy of your Notice of Assessment, 
      contact the Canada Revenue Agency at 1-800-959-8281 or visit their 
      <a target="_blank" href="www.cra-arc.gc.ca"> website </a> 
      </section>

      <section id="documentation-3-small">
        <h1> Alberta Health Card </h1>
        <p>The Alberta Health Card allows almost all Albertans to access medical services like hospitals and doctors. 
To replace a lost Health Card call 780-427-1432 or visit an Alberta Registry Office.
To register for a Health Card call 780-427-1432 or visit 
        <a taget="_blank" href="http://www.health.alberta.ca/AHCIP/register-for-AHCIP.html">
          http://www.health.alberta.ca/AHCIP/register-for-AHCIP.html
        </a>
      </section>

      <section id="documentation-4-small">
        <h1> Birth Certificate </h1>
        To get a copy of your birth certificate, contact Service Alberta at 780-427-7013 or by visiting 
        <a href="https://www.servicealberta.ca/birth-certificates.cfm" target="_blank">
          here
        </a>
      </section>

      <section id="documentation-5-small">
        <h1> Immigration Documents </h1>
      An Immigration Document or a Verification of Status (VoS) is used to prove that someone has legally immigrated to Canada and is eligible for benefits.
You can get either one of these documents by calling 1-888-242-2100 or visiting 
 <a href="http://www.cic.gc.ca/english/information/applications/certcopy.asp" target="_blank">
  here
 </a>
      </section>

      <section id="documentation-6-small">
      <h1> Direct Deposit Information </h1>
      you can get it from your bank. You need 3 numbers your Transit ID, Your Bank ID, and your Account Number
      
    </section>

    </div>

    <section id="support-small">
      <p>  In Alberta there are multiple available income supports available 
        for individuals and families who do not have a stable source of income.<br><br>
    </section>
    <div class="p2"></div>
    <section id="support-1-small">
      <h1>Alberta Works </h1>
      <p>For people who are of working age (18-65) and do not have a permanent disability you 
        can apply through Alberta Works for the Expected to Work, Barriers to Employment/Medical, 
        or Learners programs. Visit the Alberta Works 
        <a href= "http://www.humanservices.alberta.ca/financial-support/689"> website</a>
         for more information.
    </section>
    <div class="p2"></div>
    <section id="support-2-small">
      <h1>AISH </h1>
    <p>For people who are of working age (18-65) with a permanent disability you can apply for 
      Assured Income for the Severely Handicapped (AISH). 
      Visit the AISH <a href="https://www.alberta.ca/aish.aspx"> website </a> 
    </section>
    <div class="p2"></div>
    
  </main>
</md-sidenav-container>

<button md-mini-fab id="sidenav-open" (click)="sidenav.toggle()">
    &#8656;
</button>