<md-card style="border: none">
  <div class="flex flex-column">
    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="support"> Supports  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-1">
        <md-card-subtitle> Item 1 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-2">
        <md-card-subtitle> Item 2 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-3">
        <md-card-subtitle> Item 3 </md-card-subtitle>
      </a>
    </div>

    <div class="py2"></div>

    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="documentation"> Documentation  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-1">
        <md-card-subtitle> Item 1 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-2">
        <md-card-subtitle> Item 2 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-3">
        <md-card-subtitle> Item 3 </md-card-subtitle>
      </a>
    </div>
  </div>
</md-card>


<main class="large-main">
  <div class="p2"></div>
  <section id="support">
    <h1>Links to various related supports</h1>
    <p> <i>preface </i><br><br> Donec dui magna, tincidunt id ligula non, porttitor sagittis ante. Phasellus et ullamcorper nibh.
      Proin suscipit pellentesque sapien, eget pharetra mauris suscipit ut. Nam posuere fringilla suscipit. Nulla iaculis
      dui mi, pulvinar convallis quam rutrum quis. Suspendisse potenti. Donec sollicitudin tristique velit et faucibus. Nulla
      facilisi. Maecenas eget augue augue. Phasellus id velit rutrum, malesuada arcu vitae, efficitur ipsum. Praesent erat
      justo, maximus vel lacinia ornare, dictum et dolor. Nam porta dui placerat dapibus congue. Sed in rhoncus orci. Sed
      vel sollicitudin arcu, vel efficitur nulla.<br><br>
  </section>
  <div class="p2"></div>
  <section id="support-1">
    <h1>Item 1 </h1>
    <p>Maecenas malesuada sapien vel risus suscipit, ut condimentum urna vehicula. Donec a dui in ex luctus lacinia quis et
      purus. Cras a felis in neque dapibus vulputate. Nunc dapibus dolor sit amet leo auctor fringilla. Proin tempor libero
      vitae eros egestas aliquam. Maecenas a consequat mauris, vitae vehicula arcu. Quisque tellus nisi, vehicula ut scelerisque
      at, aliquet eget metus. Vestibulum dictum venenatis egestas. Aenean mi enim, egestas non turpis vitae, volutpat ornare
      purus. Ut est orci, finibus quis mi at, fringilla gravida sem. Suspendisse efficitur nunc sed nisl aliquam, nec bibendum
      neque euismod.
      <a routerLink="/quick-links">Item 1</a>
  </section>
  <div class="p2"></div>
  <section id="support-2">
    <h1>Item 2 </h1>
    <p>Nam malesuada, tellus in mollis ultrices, arcu elit congue mi, aliquam tristique erat magna sed nunc. Suspendisse potenti.
      Curabitur suscipit eros in massa elementum, vel malesuada dolor imperdiet. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nulla ultricies est ac blandit convallis. Donec aliquet nibh eget magna vestibulum, eu tristique velit
      mattis. Etiam ullamcorper tincidunt mi et venenatis. Quisque eget neque sed erat convallis sagittis. Curabitur lacinia
      sapien at egestas sodales. Mauris sagittis a massa id blandit. Etiam luctus dui ornare sem feugiat commodo.
      <a routerLink="/quick-links">Item 2</a>
  </section>
  <div class="p2"></div>
  <section id="support-3">
    <h1>Item 3 </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque. Donec
      non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum vitae eleifend
      nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque. Nulla vel pharetra
      lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit amet. Integer euismod,
      sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia lacus. Donec iaculis ut velit
      eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie. Integer eu volutpat orci. Donec sollicitudin
      sapien venenatis est feugiat, quis mollis ipsum lobortis.
      <a routerLink="/quick-links">Item 3</a>
  </section>
  <div class="p4"></div>

  <div id="documentation">
    <section>
      <h1>Documentation</h1>
      <p> explain about documentation, ie id and stuff.
    </section>

    <section id="documentation-1">
      <h1> Item 1 </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque. Donec
        non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum vitae eleifend
        nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque. Nulla vel pharetra
        lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit amet. Integer euismod,
        sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia lacus. Donec iaculis ut
        velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie. Integer eu volutpat orci.
        Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
        <a routerLink="/quick-links" fragment="documentation">Item 3</a>
    </section>

    <section id="documentation-2">
      <h1> Item 2 </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque. Donec
        non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum vitae eleifend
        nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque. Nulla vel pharetra
        lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit amet. Integer euismod,
        sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia lacus. Donec iaculis ut
        velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie. Integer eu volutpat orci.
        Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
        <a routerLink="/quick-links" fragment="documentation">Item 2</a>
    </section>

    <section id="documentation-3">
      <h1> Item 3 </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque. Donec
        non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum vitae eleifend
        nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque. Nulla vel pharetra
        lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit amet. Integer euismod,
        sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia lacus. Donec iaculis ut
        velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie. Integer eu volutpat orci.
        Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
        <a routerLink="/quick-links" fragment="documentation">Item 3</a>
    </section>
  </div>
</main>

<!-- small screens -->
<md-sidenav-container>
  <!-- sidenav content -->
  <md-sidenav mode="side" #sidenav opened="false">
    <button md-button id="sidenav-close" (click)="sidenav.toggle()" style="width: 100%">
      &#8658;
    </button>
    <div class="flex flex-column">
    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="support-small"> Supports  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-1-small">
        <md-card-subtitle> Item 1 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-2-small">
        <md-card-subtitle> Item 2 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="support-3-small">
        <md-card-subtitle> Item 3 </md-card-subtitle>
      </a>
    </div>

    <div class="py2"></div>

    <div class="flex flex-center" style="height: 4vh; width: 100%; background-color: lightblue;">
      <div style="margin: 0 auto;">
        <a routerLink="/quick-links" fragment="documentation-small"> Documentation  </a>
      </div>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-1-small">
        <md-card-subtitle> Item 1 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left py1 px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-2-small">
        <md-card-subtitle> Item 2 </md-card-subtitle>
      </a>
    </div>
    <div class="border-left px2" style="height: 2vh;">
      <a routerLink="/quick-links" routerLinkActive="active-link" fragment="documentation-3-small">
        <md-card-subtitle> Item 3 </md-card-subtitle>
      </a>
    </div>
  </div>
  </md-sidenav>

  


  <!-- primary content -->
  <main>
    <div class="p2"></div>
    <section id="support-small">
      <h1>Links to various related supports</h1>
      <p> <i>preface </i><br><br> Donec dui magna, tincidunt id ligula non, porttitor sagittis ante. Phasellus et ullamcorper
        nibh. Proin suscipit pellentesque sapien, eget pharetra mauris suscipit ut. Nam posuere fringilla suscipit. Nulla
        iaculis dui mi, pulvinar convallis quam rutrum quis. Suspendisse potenti. Donec sollicitudin tristique velit et faucibus.
        Nulla facilisi. Maecenas eget augue augue. Phasellus id velit rutrum, malesuada arcu vitae, efficitur ipsum. Praesent
        erat justo, maximus vel lacinia ornare, dictum et dolor. Nam porta dui placerat dapibus congue. Sed in rhoncus orci.
        Sed vel sollicitudin arcu, vel efficitur nulla.<br><br>
    </section>
    <div class="p2"></div>
    <section id="support-1-small">
      <h1>Item 1 </h1>
      <p>Maecenas malesuada sapien vel risus suscipit, ut condimentum urna vehicula. Donec a dui in ex luctus lacinia quis et
        purus. Cras a felis in neque dapibus vulputate. Nunc dapibus dolor sit amet leo auctor fringilla. Proin tempor libero
        vitae eros egestas aliquam. Maecenas a consequat mauris, vitae vehicula arcu. Quisque tellus nisi, vehicula ut scelerisque
        at, aliquet eget metus. Vestibulum dictum venenatis egestas. Aenean mi enim, egestas non turpis vitae, volutpat ornare
        purus. Ut est orci, finibus quis mi at, fringilla gravida sem. Suspendisse efficitur nunc sed nisl aliquam, nec bibendum
        neque euismod.
        <a routerLink="/quick-links">Item 1</a>
    </section>
    <div class="p2"></div>
    <section id="support-2-small">
      <h1>Item 2 </h1>
      <p>Nam malesuada, tellus in mollis ultrices, arcu elit congue mi, aliquam tristique erat magna sed nunc. Suspendisse potenti.
        Curabitur suscipit eros in massa elementum, vel malesuada dolor imperdiet. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nulla ultricies est ac blandit convallis. Donec aliquet nibh eget magna vestibulum, eu tristique
        velit mattis. Etiam ullamcorper tincidunt mi et venenatis. Quisque eget neque sed erat convallis sagittis. Curabitur
        lacinia sapien at egestas sodales. Mauris sagittis a massa id blandit. Etiam luctus dui ornare sem feugiat commodo.
        <a routerLink="/quick-links">Item 2</a>
    </section>
    <div class="p2"></div>
    <section id="support-3-small">
      <h1>Item 3 </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque. Donec
        non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum vitae eleifend
        nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque. Nulla vel pharetra
        lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit amet. Integer euismod,
        sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia lacus. Donec iaculis ut
        velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie. Integer eu volutpat orci.
        Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
        <a routerLink="/quick-links">Item 3</a>
    </section>
    <div class="p4"></div>

    <div id="documentation-small">
      <section>
        <h1>Documentation</h1>
        <p> explain about documentation, ie id and stuff.
      </section>

      <section id="documentation-1-small">
        <h1> Item 1 </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque.
          Donec non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum
          vitae eleifend nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque.
          Nulla vel pharetra lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit
          amet. Integer euismod, sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia
          lacus. Donec iaculis ut velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie.
          Integer eu volutpat orci. Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
          <a routerLink="/quick-links" fragment="documentation">Item 3</a>
      </section>

      <section id="documentation-2-small">
        <h1> Item 2 </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque.
          Donec non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum
          vitae eleifend nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque.
          Nulla vel pharetra lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit
          amet. Integer euismod, sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia
          lacus. Donec iaculis ut velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie.
          Integer eu volutpat orci. Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
          <a routerLink="/quick-links" fragment="documentation">Item 2</a>
      </section>

      <section id="documentation-3-small">
        <h1> Item 3 </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nisi accumsan, tempor risus nec, congue neque.
          Donec non nisl nec massa dignissim commodo id a elit. Proin rhoncus neque at ipsum pharetra rhoncus. Vestibulum
          vitae eleifend nisl. Proin iaculis pharetra viverra. Sed elementum nisi a justo mattis, sed mattis nunc scelerisque.
          Nulla vel pharetra lacus, a pellentesque ex. Cras ultricies aliquam nisi, tempor facilisis sem sollicitudin sit
          amet. Integer euismod, sapien at iaculis facilisis, nisl libero malesuada lectus, nec euismod felis eros lacinia
          lacus. Donec iaculis ut velit eu imperdiet. Morbi id eleifend sem. Sed vitae elit vitae ante pretium molestie.
          Integer eu volutpat orci. Donec sollicitudin sapien venenatis est feugiat, quis mollis ipsum lobortis.
          <a routerLink="/quick-links" fragment="documentation">Item 3</a>
      </section>
    </div>
  </main>
</md-sidenav-container>

<button md-mini-fab id="sidenav-open" (click)="sidenav.toggle()">
    &#8656;
</button>