<section class="col-12" *ngIf="!addQuery">
  <div class="py2"></div>
  <section class="col-12" >
    <div class="center"> 
      <button md-raised-button color="primary"
        (click)="addQuery = true"> ADD QUERY 
      </button> 
    </div>
    <div *ngFor="let query of (state$ | async)?.queries" class="query py2">
      <table style="width:100%">
        <tr>
          <th>Key</th>
          <th>Type</th>
          <th>Qualifier</th>
          <th>Value</th> 
          
        </tr>
        <tr *ngFor="let condition of query">
          <td>{{condition.key.name}}</td>
          <td>{{condition.type}}</td>
          <div [ngSwitch]="condition.qualifier">
            <td *ngSwitchCase="'lessThan'"> &lt; </td>
            <td *ngSwitchCase="'lessThanOrEqual'"> &lt;= </td>
            <td *ngSwitchCase="'equal'"> =  </td>
            <td *ngSwitchCase="'greaterThanOrEqual'"> &gt;= </td>
            <td *ngSwitchCase="'greaterThan'"> &gt; </td>
            <td *ngSwitchDefault></td>
          </div>
        </tr>
      </table>
    </div>
  </section>
  <section *ngIf="program.application?.length === 0" class="py1 center">
    There are no queries associated with this program.
  </section>
</section>
<app-query-edit *ngIf="addQuery" [query]="editQuery$ | async">
  
</app-query-edit>
