<app-bread-crumb [formGroup]="form">
  <div class="flex col-10 p1" style="overflow: hidden">
    <div class="px2"></div>
    <button 
      [disabled]="form.invalid  ? true : null"
      md-raised-button 
      color="primary"
      (click)="submit()">SAVE</button>
    <div class="px2"></div>
    <button md-raised-button 
      color="primary"
      routerLink="/admin/programs/overview">CANCEL</button>
    <div class="flex-grow"></div>
  </div>
</app-bread-crumb>

<!-- SAVE BAR -->
<md-progress-bar mode="indeterminate" color="warn" *ngIf="saving$ | async"></md-progress-bar>
<div class="p2 center">
  <md-button-toggle-group [formControl]="view">
    <md-button-toggle *ngFor="let v of views" [value]="v">
      {{v}}
    </md-button-toggle>
  </md-button-toggle-group>
</div>
<div [hidden]="hide">
  <section class="main-container flex flex-column flex-center" [formGroup]="form">
    <div class="col-12" formGroupName="user">
      <md-input-container class="container-item">
        <input mdInput  placeholder="title" formControlName="title">
      </md-input-container>
      <div class="py1"></div>
      <textarea placeholder="description" class="container-item" rows="4" formControlName="details"></textarea>
      <div class="py1"></div>
      <md-input-container class="container-item">
        <input mdInput  placeholder="link" formControlName="externalLink">
      </md-input-container>
      <div class="container-item flex">
        <div class="ml1 mr1 p1 border bg-silver" *ngFor="let tag of form.get(['user', 'tags'])?.value">
          {{ tag }} <div style="cursor:pointer" (click)="removeTag(tag)">X</div>
        </div>
      </div>
      <div class="container-item flex flex-center">
        <md-input-container class="col-8"> 
          <input mdInput class="mr2" placeholder="tag name" formControlName="tag"> 
        </md-input-container>
        <div class="col-1"></div>
        <button md-mini-fab color="primary" (click)="addTag()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </section>
</div>

<section class="col-12">
  <app-application-side
    *ngIf="(view$ | async) === 'application'"
    [program]="form.get('application')"
    [guid]="form.get('guid').value"
    (saveQueries)="addQuery($event)">
  </app-application-side>
</section>