.main-container {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding-top: 10px;
  overflow-y: auto;
  height: 70%;
}

.container-item {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

text-area {
  margin-top: 5px;
}

.error {
  background-color: maroon;
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin-top: 3px;
  width: 70%;
}