<app-bread-crumb>
  <div class="flex col-10 p1" style="overflow: hidden">
    <div class="px2"></div>
    <button md-raised-button 
      color="primary"
      [attr.disabled]="!form.valid ? true : null"
      (click)="submit$.next(true)">SAVE</button>
    <div class="px2"></div>
    <button md-raised-button 
      color="primary"
      routerLink="/admin/programs/overview">CANCEL</button>
    <div class="flex-grow"></div>
  </div>
</app-bread-crumb>

<!-- SAVE BAR -->
<md-progress-bar mode="indeterminate" color="warn" *ngIf="saving$ | async"></md-progress-bar>
<div class="p2 center">
  <md-button-toggle-group [formControl]="view">
    <md-button-toggle *ngFor="let v of views" [value]="v">
      {{v}}
    </md-button-toggle>
  </md-button-toggle-group>
</div>
<div [hidden]="hide">
  <section class="main-container flex flex-column flex-center">
    <div class="col-12">
      <md-input-container>
        <input mdInput class="container-item" placeholder="title" [formControl]="title">
      </md-input-container>
      <div class="py1"></div>
      <textarea placeholder="description" class="container-item" rows="4" [formControl]="details"></textarea>
      <div class="py1"></div>
      <md-input-container>
        <input mdInput class="container-item" placeholder="link" [formControl]="link">
      </md-input-container>
      <div class="container-item flex">
        <div class="ml1 mr1 p1 border bg-silver" *ngFor="let tag of (state$ | async).user.tags">
          {{ tag }} <div style="cursor:pointer" (click)="removeTag$.next(tag)"> X</div>
        </div>
      </div>
      <div class="container-item flex flex-center">
        <md-input-container> <input mdInput class="mr2" placeholder="tag name" [formControl]="tag"> </md-input-container>
        <button md-mini-fab color="primary" (click)="tagAdd.next()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </section>
</div>

<section class="col-12">
  <app-application-side
    *ngIf="(view$ | async) === 'application'"
    [keys]="(keys$ | async)"
    [program]="(state$ | async)"
    (saveQueries)="updatedQueries$.next($event)">
  </app-application-side>
</section>