<app-bread-crumb>
  <div class="flex col-10 p1" style="overflow: hidden">
    <div class="px2"></div>
    <button md-raised-button 
      color="primary"
      [attr.disabled]="!form.valid ? true : null"
      (click)="this.submit$.next(true)">SAVE</button>
    <div class="px2"></div>
    <button md-raised-button 
      color="primary"
      routerLink="/admin/programs/overview">CANCEL</button>
    <div class="flex-grow"></div>
  </div>
  {{ state$ | async | json }}
</app-bread-crumb>
<!-- SAVE BAR -->
<md-progress-bar mode="indeterminate" color="warn" *ngIf="saving$ | async"></md-progress-bar>
<div class="p2 center">
  <md-button-toggle-group [formControl]="view">
    <md-button-toggle *ngFor="let v of views" [value]="v">
      {{v}}
    </md-button-toggle>
  </md-button-toggle-group>
</div>
<section class="main-container flex flex-column flex-center" *ngIf="(view$ | async) === 'user'">
  <div class="col-12">
    <md-input class="container-item" placeholder="title" [formControl]="title"></md-input>
    <div class="py1"></div>
    <textarea placeholder="description" class="container-item" rows="4" [formControl]="details"></textarea>
    <div class="py1"></div>
    <md-input class="container-item" placeholder="link" [formControl]="link"></md-input>
    <div class="container-item flex">
      <div class="ml1 mr1 p1 border bg-silver" *ngFor="let tag of (state$ | async)?.user.tags">
        {{ tag }} <div style="cursor:pointer" (click)="removeTag$.next(tag)"> X</div>
      </div>
    </div>
    <div class="container-item flex flex-center">
      <md-input class="mr2" placeholder="tag name" [formControl]="tag"></md-input>
      <button md-mini-fab color="primary" (click)="tagAdd.next()">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
  <section class="py1" >
    <div *ngFor="let query of (state$ | async)?.application">
      <table style="width:100%" class="py2">
        <tr>
          <th>Key</th>
          <th>Type</th>
          <th>Qualifier</th>
          <th>Value</th> 
          
        </tr>
        <tr *ngFor="let condition of query">
          <td>{{condition.key.name}}</td>
          <td>{{condition.type}}</td>
          <div [ngSwitch]="condition.qualifier">
            <td *ngSwitchCase="'lessThan'"> &lt; </td>
            <td *ngSwitchCase="'lessThanOrEqual'"> &lt;= </td>
            <td *ngSwitchCase="'equal'"> =  </td>
            <td *ngSwitchCase="'greaterThanOrEqual'"> &gt;= </td>
            <td *ngSwitchCase="'greaterThan'"> &gt; </td>
            <td *ngSwitchDefault></td>
          </div>
        </tr>
      </table>
    </div>
  </section>
</section>
<section class="col-12">
  <app-application-side
    *ngIf="(view$ | async) === 'application'"
    [keys]="(keys$ | async)"
    (saveCondition)="newCondition$.next($event)">
  </app-application-side>
</section>