.main-container {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding-top: 10px;
  overflow-y: auto;
  height: 70%;
}

.container-item {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-item,
.container-item > div,
.container-item > md-input,
.container-item > button {
  font-family: 'Roboto Mono', monospace;
}

text-area {
  margin-top: 5px;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
}


.error {
  background-color: maroon;
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin-top: 3px;
  width: 70%;
}

md-button-toggle {
  font-family: 'Roboto Mono', monospace;
}

select {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 5px;
}
select > option {
  font-family: 'Roboto Mono', monospace;
}