md-card {
  font-family: 'Open Sans', sans-serif;
  height: 35vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

md-button-toggle {
  font-family: 'Open Sans', sans-serif;
}

table {
  width: 90%;
  margin: 0 auto;
}