<div class="py1"></div>
<md-card>
  <md-card-title> {{program.description.title}}  </md-card-title>
  <md-card-subtitle> uploaded on: {{ program.created }}</md-card-subtitle>
  <md-card-content>
    <p>{{ program.description.details }} </p>
  </md-card-content>
  <md-card-subtitle>
    link: {{ program.description.externalLink }}
  </md-card-subtitle>
  <div class="p1"></div>
  <div class="clearfix flex">
    <div 
      class="col-2 border bg-silver black center rounded mr1 md-show" 
      *ngFor="let tag of program.tags">
      {{tag}}
    </div>
  </div>
</md-card>
<div class="py1"></div>