md-card {
  font-family: 'Open Sans', sans-serif;
  height: 35vh;
}

md-card-actions {
  position: relative;
  width: 100%;
}

md-card-actions > button[md-button]:hover {
  color: darkorange;
}

md-button-toggle {
  font-family: 'Open Sans', sans-serif;
}

table {
  width: 90%;
  margin: 0 auto;
}

.delete-program-button {
  position: absolute;
  right: 1em;
}

