<main class="home py1">
  <header class="center py2" >
    <img src="assets/logo.svg" class="logo-image">
  </header>
  <div class="p2"></div>
  <!-- MEDIUM AND LARGER SCREENS -->
  <section class="clearfix lg-show" *ngIf="!loading" >
    <div class="flex flex-justify center" style="width: 95%; margin: 0 auto;" [@fadein]>

      <div class="col-4">
        <div class="section-text">
          <p> Answer a few questions to find out some <br> helpful benefits you could apply for.
        </div>
        <a routerLink="/master-screener/questions">
          <button md-raised-button >QUESTIONNAIRE</button>
        </a>
      </div>

      <div class="col-4" >
        <div class="section-text">
          <p> See the benefits available in Edmonton <br> for people with a lower income.
        </div>
        <a routerLink="/browse-programs/all">
          <button md-raised-button >BROWSE</button>
        </a>
      </div>

      <div class="col-4">
        <div class="section-text">
          <p> How to obtain relevant documentation
        </div>
        <a routerLink="/quick-links"  fragment="documentation">
          <button md-raised-button >DOCUMENTATION</button>
        </a>
      </div>

    </div>
  </section>
  <!-- SMALLER SCREEN -->
  <section class="lg-hide" *ngIf="!loading">
    <div class="flex">
      <div class="col-1"></div>
      <section class="col-10">
        <div class="program-details col-12 flex flex-column">
          <div class="center">
            <p> Answer a few questions to find out some helpful benefits you could apply for.
          </div>
          <a class="center" routerLink="/master-screener/questions">
            <button md-raised-button>Questionnaire</button>
          </a>
        </div>

        <div class="py2 xs-hide"></div>
        <div class="program-details col-12 flex flex-column">
          <div class="center">
            <p> See the benefits available in Edmonton for people with a lower income.
          </div>
          <a class="center" routerLink="/browse-programs/all">
            <button md-raised-button>BROWSE</button>
          </a>
        </div>

        <div class="py2 xs-hide"></div>
        <div class="program-details col-12 flex flex-column">
          <div class="center">
            <p> How to obtain relevant documentation
          </div>
          <a class="center" routerLink="/quick-links"  fragment="documentation">
            <button md-raised-button>DOCUMENTATION</button>
          </a>
        </div>

      </section>
      <div class="col-1"></div>
    </div>
  </section>

  <!-- LOADING SPINNER -->
  <section class="clearfix" *ngIf="loading" style="width: 100%;">
    <md-progress-spinner style="margin: 10vh auto 0 auto;" color="primary" mode="indeterminate"></md-progress-spinner>
  </section>

</main>