.home {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
}

.section-text {
  height: 6vh;
}

main {
  overflow-x: hidden;
}

main > header > .header-title {
  background-color: rgba(248,248,255, 0.5);
}

.program-details {
  background-color: rgba(248,248,255, 0.5);
}

p {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  background-color: rgba(248,248,255, 0.5);
}

button {
  width: 75%;
}

button:hover {
  background-color: pink;
  color: black;
}


@media(min-width: 64em) {
  main > header > .header-title {
    font-size: 80px;
  }
  
  .program-details {
    min-width: 25em;
  }
  .logo-image {
    width: 50vw;
  }
}


@media(min-width: 52em) and (max-width:64em) {
  main > header > .header-title {
    font-size: 80px;
  }
  
  main > header > .header-description > div > p {
    max-width: 28em;
  }
  
  .program-details {
    width: 52em;
    height: 10vh;
  }
  

  .logo-image {
    width: 55vw;
  }
}


@media(min-width: 40em) and (max-width: 52em) {
  main > header > .header-title {
    font-size: 65px;
  }
  
  main > header > .header-description > div > p {
    max-width: 28em;
  }
  
  .program-details {
    width: 40em;
    height: 10vh;
    padding-bottom: 1em;
  }


  .logo-image {
    width: 65vw;
  }
}


@media(min-width: 30em) and (max-width: 40em){
  main > header > .header-title {
    font-size: 40px;
  }
  main > header > .header-description > div > p {
    max-width: 28em;
    font-size: 90%;
  }

  .logo-image {
    width: 75vw;
  }

  .program-details {
    width: 30em;
    height: 10vh;
    padding-bottom: 2em;
  }

}


@media(max-width: 30em){
  main > header > .header-title {
    font-size: 30px;
  }
  main > header > .header-description > div > p {
    max-width: 28em;
    font-size: 80%;
  }

  .logo-image {
    width: 80vw;
  }

  .program-details {
    width: 20em;
    height: 10vh;
    padding-bottom: 2em;
  }
}

