.home {
  width: 95vw;
  overflow: auto;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 10px #888;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}
.ribbon span {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 110% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

section.link-container {
  overflow-x: hidden;
  margin: 2em auto;
  justify-content: space-around;
  text-align: center;
}

.logo-image {
  margin-top: 2vh;
}

section.feature-description {
  border: solid darkorange 1px;
  border-radius: 2px;
}


@media screen and (min-width: 50em) {
  section.link-container {
    display: flex;
    width: 70vw;
  }

  section.feature-description:nth-child(2) {
    margin: 0 2em;
  }

  .logo-image {
    width: 60vw;
    margin-left: 20vw;
  }

  section.link-container > section.feature-description {
    padding: 1em;
  }
}

@media screen and (max-width: 50em) {
  section.link-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 2em auto;
    justify-content: space-around;
  }

  section.feature-description:nth-child(2) {
    margin: 2em 0;
  }

  .logo-image {
    width: 80vw;
    margin-left: 10vw;
  }

  section.link-container > section.feature-description {
    padding: 0.3em;
  }
}



section.link-container > section.feature-description {
  display: flex;
  flex: auto 0 1;
  flex-direction: column;
  width: 100%;
  background-color: rgba(248,248,255,.7);
  justify-content: center;
  align-items: center;
}

section.link-container > section.feature-description > a > button {
  background-color: darkorange;
  color: white;
}

.feature-description > p {
  width: 100%;
}

