.home {
    width: 95vw;
    overflow-x: hidden;
}

.ribbon {
    background-color: #a00;
    overflow: hidden;
    box-shadow: 0 0 10px #888;
    width: 60vw;
    margin: 0 auto;
    border-radius: 5px;

}
.ribbon span {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

.ribbon > span > p {
    margin: 0;
    height: 100%;
    text-align: center;
}

section.link-container {
    overflow-x: hidden;
    margin: 2em auto;
    justify-content: space-around;
}

.logo-image {
    margin-top: 2vh;
}

p {
    text-align: left;
    font-size: larger;
    font-weight: bold;
}

section.feature-description {
    border: solid darkorange 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 69em) {
    section.link-container {
        display: flex;
        width: 70vw;
    }

    section.feature-description:nth-child(2) {
        margin: 0 2em;
    }

    .logo-image {
        margin-top: 5vh;
        width: 60vw;
        margin-left: 20vw;
    }

    section.link-container > section.feature-description {
        padding: 0.5em;
        height: 19vh;
    }
}
/*
@media screen and (min-width: 37em) and (max-width: 65em) {
    section.link-container {
        width: 50vw !important;
    }
}*/

@media screen and (min-width: 30em) and (max-width: 69em) {
    section.link-container {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: 2em auto;
        justify-content: space-around;
    }

    section.feature-description:nth-child(2) {
        margin: 2em 0;
    }

    .logo-image {
        width: 80vw;
        margin-left: 10vw;
    }

    section.link-container > section.feature-description {
        padding: 1em;
        height: 15vh;
        display: flex;
        flex-direction: row !important;
    }


    section > a {
        width: 30%;
    }

    p {
        width: 50% !important;
    }

    a > button {
        width: 75%;
    }
}

@media screen and (max-width: 30em) {
    section.link-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 2em auto;
        justify-content: space-around;
    }

    section.feature-description:nth-child(2) {
        margin: 2em 0;
    }

    .logo-image {
        width: 80vw;
        margin-left: 10vw;
    }

    section.link-container > section.feature-description {
        padding: 0.5em;
        height: 24vh;
    }

    .ribbon {
        width: 80vw !important;
    }
}



section.link-container > section.feature-description {
    display: flex;
    flex-direction: column;
    background-color: rgba(248,248,255, 1);
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

section.link-container > section.feature-description > a > button {
    background-color: darkorange;
    color: white;
}

.feature-description > p {
    width: 70%;
    margin: 0 auto 0.3em auto;
}



