<md-tab-group style="width: 100%;">
  <md-tab label="View">
    <form [formGroup]="form" class="flex flex-column space-between">
      <div class="clearfix flex">
        <div id="meta-information" class="col-4 border-left px1"> question X of Y </div>
        <div id="spacer" class ="col-6"></div>
      </div>

      <md-card-title id="question-label">  </md-card-title>
      <div class="py1"></div>
      <md-checkbox [formControlName]="question.key" placeholder="input here">
        {{ question.label}}
      </md-checkbox>
      <div class="py1"></div>
    </form>
  </md-tab>
  <md-tab label="Edit">
    <form [formGroup]="adminForm.get(question.key)" class="flex flex-column space-between">
      <md-input formControlName="label" placeholder = "label"></md-input>
      <div class="py2"></div>
      <div class="flex">
        <md-select formControlName="key" placeholder = "question key">
          <md-option selected [value]="question.key">  {{ question.key }} </md-option>
          <md-option disabled [value]="_notit" > Can't pick me </md-option>
          <md-option disabled>  </md-option>
        </md-select>
        <div class="col-1"></div>
        <md-select formControlName="controlType" placeholder = " question type ">
          <md-option selected [value]="question.controlType" > {{ question.controlType }} </md-option>
          <md-option disabled [value]="checkbox" > checkbox </md-option>
          <md-option disabled [value]="expandable" > expandable </md-option>
          <md-option disabled [value]="radio" > button </md-option>
        </md-select>
      </div>
    </form>
  </md-tab>
</md-tab-group>