.query-container {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

md-dialog-actions {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 3vh;
}

section {
  margin-top: 1vh;
}

section > * {
  margin-top: 1em;
}

md-input-container {
  width: 30%;
}

.condition-container {
  width: 100%;
  min-height: 30vh;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
}

i.material-icons.clear {
  color: red;
}

i.material-icons.save {
  color: green;
}



#entry-point {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
  align-items: center;
  justify-content: space-around;
}

.entry-point-img {
  width: 96px;
  color: green;
}

#edit-query-container {
  width: 100%;
  margin-top: 2vh;
}

#delete-confirmation {
  width: 100%;
}

#delete-confirmation > section {
  height:50%;
  width: 40%;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-evenly;
}