.query-container {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

md-dialog-actions {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 3vh;
}

section {
  margin-top: 1vh;
}

section > * {
  margin-top: 1em;
}

md-input-container {
  width: 30%;
}

.condition-container {
  width: 100%;
  min-height: 30vh;
  padding: 1em;
}

i.material-icons.clear {
  color: red;
}

i.material-icons.add {
  color: green;
}

#entry-point {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
  align-items: center;
  justify-content: space-between;
}