<div class="my-wrapper" style="margin: 0vh 0vh 5vh 0vh">

<div *ngIf=" (state$ | async)?.questions.length > 0" class="question-container">
<app-screener-toolbar
  [created]="(state$ | async)?.created"
  [count]="(state$ | async)?.questions.length"
  (filter)="handleFilter($event)"
  [adminForm]="(adminForm | async)"
  (save)="handleSave()">
</app-screener-toolbar>


  <app-user-question *ngFor=" let question of (state$ | async)?.questions; let i = index;" [question]="question" >
  </app-user-question>

</div>


<div class="p2"></div>
</div>