<div class="my-wrapper" style="margin: 0 auto; padding-left: 5vw; padding-right: 5vw;">
  <app-screener-toolbar> </app-screener-toolbar>

  <div id="screener-content" class="flex col-12">
    <app-overview-controls class="col-3" style="min-height: 85vh"
      *ngIf="questions" 
      [questions]="(model.questions$ | async)" 
      (questionSelected)="handleSelect($event)"
      (swapQuestions)="handleSwap($event)"
      [selectedQuestion]="selectedQuestion$">
    </app-overview-controls>
    <div class="col-9" *ngIf="selectedQuestion.length > 0">
      <app-screener-question 
        *ngFor=" let question of selectedQuestion " 
        (keyChange)="updateOverview(question, $event)" 
        (onDelete)="handleDelete($event)"
        [question]="question">
      </app-screener-question>
    </div>

  </div>
  <div class="p2"></div>
</div>