:host {
  margin: 0 auto; 
  height: 100%;
  overflow-x: hidden;
  width: 95vw;
}

#question-content {
  height: 55vh;
  width: 100%;
  overflow: hidden;
}

#screener-content {
  max-height: 55vh;
  width: 100%;
}

app-question-list {
  height: 55vh;
  overflow: hidden;
}

#constant-question-list {
  flex: none;
  width: 17em;
}

#conditional-question-list {
  flex: none;
  width: 15em !important;
}