<table style="width:100%">
  <tr>
    <th>Key</th>
    <th>Type</th>
    <th>Qualifier</th>
    <th>Value</th>
  </tr>
  <tr *ngFor="let condition of (state$ | async)?.query.conditions">
    <td>{{condition.key.name}}</td>
    <td>{{condition.type}}</td>
    <div [ngSwitch]="condition.qualifier">
      <td *ngSwitchCase="'lessThan'"> &lt; </td>
      <td *ngSwitchCase="'lessThanOrEqual'"> &lt;= </td>
      <td *ngSwitchCase="'equal'"> = </td>
      <td *ngSwitchCase="'greaterThanOrEqual'"> &gt;= </td>
      <td *ngSwitchCase="'greaterThan'"> &gt; </td>
      <td *ngSwitchDefault></td>
    </div>
    <td>{{condition.value}}</td>
  </tr>
</table>
<div class="py2"></div>
<app-condition-edit 
  [condition]="(state$ | async)?.selectedCondition"
  (save)="commitCondition.next($event)">
</app-condition-edit>