<section *ngIf="query !== null && query !== undefined" class="col-10" style="margin: 0 auto">
  <div style="width: 50%; margin: 0 auto; color: green"> QUERY EDIT </div>
  <div class="flex col-4">
    <div class="px2"></div>
    <button md-raised-button color="primary" (click)="save.emit(query)">SAVE QUERY</button>
    <div class="px2"></div>
    <button md-raised-button color="primary" (click)="cancel.emit()">CANCEL</button>
  </div>

  <table style="width:100%">
    <tr>
      <th>Key</th>
      <th>Type</th>
      <th>Qualifier</th>
      <th>Value</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let condition of query.conditions">
      <td>{{condition.key.name}}</td>
      <td>{{condition.key.type}}</td>
      <div [ngSwitch]="condition.qualifier">
        <td *ngSwitchCase="'lessThan'"> &lt; </td>
        <td *ngSwitchCase="'lessThanOrEqual'"> &lt;= </td>
        <td *ngSwitchCase="'equal'"> = </td>
        <td *ngSwitchCase="'greaterThanOrEqual'"> &gt;= </td>
        <td *ngSwitchCase="'greaterThan'"> &gt; </td>
        <td *ngSwitchDefault></td>
      </div>
      <td>{{condition.value}}</td>
      <td>
        <button md-mini-fab color="warn" (click)="handleDelete(condition)">
          <i class="material-icons">clear</i>
        </button>
      </td>
      <td>
        <button md-mini-fab color="primary" (click)="handleEdit(condition)">
          <i class="material-icons">create</i>
        </button>
      </td>
    </tr>
  </table>
  <div class="py2"></div>
  <app-condition-edit 
    [condition]="editCondition$"
    (save)="handleSaveCondition($event)">
  </app-condition-edit>
</section>
