<div class="col-12 flex py1">
  <div class="col-1"></div>
  <div class="col-10 flex">
    <div class="col-1"></div>
    <div class="col-10 flex flex-column bg-silver center py2">
      <md-card-title>Expandable Question</md-card-title>
      <md-card-subtitle>Are there "hidden" questions?</md-card-subtitle>
      <div class="flex col-12">
        <div class="col-2"></div>
        <md-checkbox *ngIf="controlType === 'radio' && questionType === 'boolean'" 
          (change)="checkboxChange($event.checked)" 
          [checked]="expandable">
          yes
        </md-checkbox>
        <md-card-subtitle *ngIf="controlType !== 'radio' || questionType !== 'boolean'"> 
          Only questions controlled by buttons with answer type 'true/false' can be expandable
        </md-card-subtitle>
        <div class="col-2 flex-grow"></div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="col-1"></div>
</div>
<div  class="col-12 flex py1" 
      *ngIf="expandable && controlType === 'radio' && questionType === 'boolean'">
  <div class="col-2"></div>
  <md-card class="col-8 bg-silver">
    <button md-raised-button color="primary">ADD EXPANDABLE</button>
  </md-card>
  <div class="col-2"></div>
</div>
<div  class="col-12 flex py1"
      *ngIf="expandable && conditionalQuestions.length > 0">
  <div class="col-2"></div>
  <md-card class="col-8">
    <table class="table-light overflow-hidden bg-white border rounded">
        <thead class="bg-darken-1">
          <tr>
            <th>key</th>
            <th>control type</th>
            <th>label</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of conditionalQuestions">
            <td>{{ question.key }}</td>
            <td>{{ question.controlType }}</td>
            <td>{{ question.label }}</td>
            <td>
              <button md-mini-fab 
                color="primary"
                (click)="deleteConditional(question)">
                <i class="material-icons">clear</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </md-card>
  <div class="col-2"></div>
</div>