<div style="width: 50%; margin: 0 auto; color: green"> CONDITION EDIT </div>
<div class="col-10 flex flex-center my-container" style="margin: 0 auto" [formGroup]="form" >
    <div formGroupName="key" class="col-4">
      <select class="rounded col-12" formControlName="name">
        <option selected disabled *ngIf="form.get(['key', 'type']).value === ''">
          select a key
        </option>
        <option *ngFor="let key of (keys$ | async)" [value]="key.name">
          {{key.name}}
        </option>
      </select>
    </div>
    <div class="px2"></div>

    <select class="rounded col-2 center" formControlName="qualifier" *ngIf="form.get(['key', 'type']).value === 'integer'"> 
      <option *ngFor="let qualifier of integerQualifierOptions" [value]="qualifier.value">
        {{ qualifier.display }}
      </option>
    </select>

    <select class="rounded col-2 center" formControlName="value" *ngIf="form.get(['key', 'type']).value === 'boolean'"> 
      <option *ngFor="let qualifier of booleanValueOptions" [value]="qualifier.value">
        {{ qualifier.display }}
      </option>
    </select>
    <div class="px2"></div>
    
    <md-input-container *ngIf="form.get(['key', 'type']).value === 'integer'" class="col-2">
      <input mdInput  formControlName="value"  placeholder="value">
    </md-input-container>
    <!-- spacer to avoid jerking when there is no integer input -->
    <div class="col-2" 
      *ngIf="form.get(['key', 'type']).value === 'boolean' || form.get(['key', 'type']).value === ''"></div>
    
    <div class="px2"></div>
    <button 
      md-mini-fab color="primary" 
      [disabled]="!form.valid ? true : null"
      (click)="handleSave()">
        <i class="material-icons">add</i>
    </button>

</div>