select {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}
select > option {
  font-family: 'Open Sans', sans-serif;
}

.ng-invalid {
  color: red;
}

.my-container {
  margin: 0px 5% 0px 5%;
  height: 10vh;
}