select {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
}
select > option {
  font-family: 'Open Sans', sans-serif;
}

.ng-invalid:not(md-input-container):not(.inner-container):not(.my-container) {
  border: 0.01em solid red;
}

.my-container {
  margin: 0px 5% 0px 5%;
  height: 10vh;
  border: 0.2em solid lightgrey;
  padding-left: 1em;
  padding-right: 1em;
}

#inner-container {
  width: 90%;
  height: 100%;
  margin: 0.5vh auto;
}