select {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 5px;
}
select > option {
  font-family: 'Roboto Mono', monospace;
}

.ng-invalid {
  color: red;
}

.my-container {
  margin: 0px 5% 0px 5%;
  height: 10vh;
}