:host {
  display: flex;
  height: 5vh;
  width: 100%;
  background-color: darkorange;
  align-items: center;
}

.form-group-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 66.66667%;
  background-color: darkorange;
  color: white;
  display: relative;
  padding-bottom: 0.1em;
}

@media screen and (min-width: 375.1px) {
  select {
    display: none;
  }

  .form-group-container {
    display: none;
  }
}

@media screen and (max-width: 375px){
  :host {
    height: 8vh;
  }

  select {
    display: default;
  }

  a {
    display: none;
  }
}




a {
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 125%;
  color: white;
  overflow: hidden;
  text-decoration: none;
}


.active {
  color: orange;
}

*::before, 
*::after{
  content: '|';
  margin: 0 0.25em;
  height: 95%;
  color: orange;
}

