nav {
  margin-top: 1vh;
  height: 5vh;
  background: transparent;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(248,248,255, 0.5);
}

.link {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;    
}

.active {
  color: black;
  pointer-events: none;
}