.navbar-button {
  background-color: blanchedalmond;
}

.app-navbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  background: transparent;
}


.app-input {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
}