nav {
  padding-top: 1vh;
  height: 5vh;
  background: transparent;
  width: 100vw;
  overflow: hidden;
  background-color: darkorange;
}

.link {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;    
}

a {
  color: white
}