#question-container {
  width: 100%;
  justify-content: space-around; 
  background-color: whitesmoke;
  padding: 1em 0.5em 0.5em 1em;
  border-radius: 10px; 
  border: solid lightgrey 0.1em;
  display: flex;
  flex-direction: column;
  height: 54vh;
}

section {
  height: 10vh;
  width: 95%; 
  margin: 1vh auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#question-container > *:not(button):not([formGroupName="key"]) {
  padding: 1em;
  width: 50%;
  margin: 0 auto;
}

 
div[formGroupName="key"] {
  width: 30%;
  margin-left: 25%;
}

div[formGroupName="key"] > select {
  width: 100%;
  position: relative;
  background: darkorange;
}

#question-container > button {
  margin-left: 90%; 
}

#option-chip-container{
  width: 80%;
  margin-left: 5vw;
  margin-right: 5vw;
}

option {
  height: 3em; 
  overflow: hidden;
}

select {
  height: 3em;
}

#option-add-button {
  margin-left: 1em;
}

md-chip {
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.checkbox-container {
  margin-top: 1em; 
  margin-bottom: 1em;
  width: 100%;
}



#errors {
  margin: 0 auto;
  border: 0.15em solid red;
  padding: 0.1em;
}