<main [formGroup]="form$ | async" *ngIf="(form$ | async ) !== null" class="flex flex-column" id="question-container" style="width: 70%; margin: 0 auto">

  <md-input-container class="col-12">
    <input mdInput placeholder="Question Label" formControlName="label">
  </md-input-container>

  <div formGroupName="key">
    <md-select placeholder="Key" class="col-12" formControlName="name">
      <md-option *ngFor="let unusedKey of (unusedKeys$ | async)" [value]="unusedKey.name"
        style="height: 3em; overflow: hidden">
        <pre>{{ unusedKey.name }} : {{ unusedKey.type }}</pre>
      </md-option>
    </md-select>
  </div>
  

  <div class="col-12" style="margin-top: 1em; margin-bottom: 1em;">
    <md-checkbox formControlName="expandable">
      Expandable
    </md-checkbox>
  </div>

  <md-select placeholder="Input Type" formControlName="controlType" class="col-12">
    <md-option *ngFor="let control of CONTROL_TYPE_VALUES" [value]="control.value"> {{ control.display }} </md-option>
  </md-select>

  <div> {{ VALID_CONTROL_TYPES | json }} </div>

  <div *ngIf=" (form$ | async)?.errors"> 
    {{ (form$ | async)?.errors | json }}
  </div>

</main>



<section 
    id="number-select-options" 
    *ngIf="controlType === 'NumberSelect'"
    [formGroup]="optionForm"
    class="flex col-12">
  <md-input-container class="col-9">
    <input mdInput placeholder="option value" formControlName="optionValue">
  </md-input-container>
  <div *ngFor="let option of options" style="background-color: palegreen"> 
    {{ option }}
  </div>
  <button md-raised-button color="primary" [disabled]="!optionForm.valid ? true : null" (click)="addOption()"> ADD </button>
</section>

