<form [formGroup]="form$ | async" *ngIf="(form$ | async ) !== null" class="flex flex-column" id="question-container">
  <div id="delete-container" class="flex flex-center">
    <button md-mini-fab color="warn" style="margin: 0 auto" (click)="deleteQuestion()"><md-icon>clear</md-icon></button>
  </div>

  <md-input-container class="question-container-child">
    <input mdInput placeholder="Question Label" formControlName="label">
  </md-input-container>

  <div formGroupName="key" class="question-container-child">
    <md-select placeholder="Key" class="col-12" formControlName="name">
      <md-option selected disabled [value]="(form$ | async)?.get(['key', 'name']).value">
        <pre> {{ (form$ | async)?.get(['key', 'name']).value }} : {{ (form$ | async)?.get(['key', 'type']).value }} </pre>
      </md-option>
      <md-option *ngFor="let unusedKey of (unusedKeys$ | async)" [value]="unusedKey.name">
        <pre>{{ unusedKey.name }} : {{ unusedKey.type }}</pre>
      </md-option>
    </md-select>
  </div>
  

  <div class="checkbox-container question-container-child">
    <md-checkbox formControlName="expandable">
      Expandable
    </md-checkbox>
  </div>

  <md-select placeholder="Input Type" formControlName="controlType" class="question-container-child">
    <md-option *ngFor="let control of CONTROL_TYPE_VALUES" [value]="control.value"> {{ control.display }} </md-option>
  </md-select>

  <div *ngIf=" (form$ | async)?.errors" id="errors"> 
    errors: {{ (form$ | async)?.errors | json }}
  </div>

</form>

<section 
    id="number-select-options" 
    *ngIf="controlType === 'NumberSelect'"
    [formGroup]="optionForm"
    class="flex flex-column">
    <div class="col-12 flex">
      <md-input-container class="col-9">
        <input mdInput placeholder="option value" formControlName="optionValue">
      </md-input-container>
      <button class="col-2" id="option-add-button" md-raised-button color="primary" [disabled]="!optionForm.valid ? true : null" (click)="addOption()"> ADD </button>
    </div>
</section>
 <div class="flex" id="option-chip-container">
    <md-chip-list>
      <md-chip *ngFor="let option of options" (click)="spliceOption(option)">{{ option }}</md-chip>
    </md-chip-list>
</div>

