:host {
  width: 100%; 
}

#question-container {
  width: 80%;
  margin-left: 5vw;  
  justify-content: space-between; 
  background-color: whitesmoke;
  padding: 1em 0.5em 0.5em 1em;
  border-radius: 10px; 
  border: 0.25em solid darkslateblue;
}

#delete-container {
  margin-left: 80%; 
  width: 20%; 
  padding-top: 1em; 
  padding-bottom:1em
}

#option-chip-container{
  width: 80%;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: lightgoldenrodyellow
}

#number-select-options {
  width: 80%; 
  margin: 1vh 5vw;
  padding-bottom: 1em;
  border: 0.25em solid darkslateblue;
  padding: 0.25em;
}

option {
  height: 3em; 
  overflow: hidden;
}

select {
  height: 3em;
}

#option-add-button {
  margin-left: 1em;
}

md-chip {
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.checkbox-container {
  margin-top: 1em; 
  margin-bottom: 1em;
  width: 100%;
}

.question-container-child {
  padding: 1em;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
}

#errors {
  margin: 0 auto;
  border: 0.15em solid red;
  padding: 0.1em;
}