<main class="home">
  <div class="p2"></div>
  <header class="center">
    <div class="header-title">You Can Benefit</div>
    <div class="header-description clearfix flex">
      <!-- LARGE SCREENS  -->
      <div class="lg-show col-1"></div>
      <div class="lg-show col-6 flex-grow">
        <p>A free and open sourced website designed to make it easier to find available benefits.
      </div>
      <div class="lg-show col-1"></div>

      <!-- LESS THAN LARGE SCREENS -->
      <div class="lg-hide col-1"></div>
      <div class="lg-hide col-6 flex-grow">
        <p>A free and open sourced website designed to make it easier to find available benefits.
      </div>
      <div class="lg-hide col-1"></div>
    </div>
  </header>
  <div class="p2"></div>
  <!-- MEDIUM AND LARGER SCREENS -->
  <section class="clearfix md-show">
    <div class="flex">
      <div class="col-3"></div>
      <div class="program-details col-2 flex flex-column">
        <div>
          <p> Our team has compiled information on various benefits available to Albertans. Take a look at what we've found!
        </div>
        <a routerLink="/browse-programs/all">
          <button class="btn btn-outline mb1 blue">Browse</button>
        </a>
      </div>
      <div class="col-1 flex-grow"></div>
      <div class="program-details col-2 flex flex-column">
        <div>
          <p> We've also developed a questionnaire that can help you find programs that should interest you.
        </div>
        <a routerLink="/master-screener/questions">
          <button class="btn btn-outline mb1 blue">Start</button>
        </a>
      </div>
      <div class="col-3"></div>
    </div>
  </section>
  <!-- MEDIUM AND SMALLER SCREEN -->
  <section class="md-hide">
    <div class="flex">
      <div class="col-1 flex-shrink"></div>
      <section class="col-10 flex-grow">
        <div class="program-details col-12 flex flex-column">
          <div>
            <p> Our team has compiled information on various benefits available to Albertans. Take a look at what we've found!
          </div>
          <a routerLink="/browse-programs/all">
            <button class="btn btn-outline mb1 blue">Browse</button>
          </a>
        </div>
        <div class="py2 xs-hide"></div>
        <div class="program-details col-12 flex flex-column">
          <div>
            <p> We've also developed a questionnaire that can help you find programs that should interest you.
          </div>
          <a routerLink="/master-screener/questions">
            <button class="btn btn-outline mb1 blue">Start</button>
          </a>
        </div>
      </section>
      <div class="col-1 flex-shrink"></div>
    </div>
  </section>
  <div class="p2"></div>
</main>