.home {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
}

/* MEDIUM AND GREATER */
@media(min-width: 40em) {
  .home {
    background-image: url(assets/city-skyline-greyscale.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* SMALL TO MEDIUM */
@media(max-width: 40em){
  .home {
    background-image: url(assets/city-skyline-greyscale.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

main > header > .header-title {
  background-color: rgba(248,248,255, 0.5);
}

.program-details {
  background-color: rgba(248,248,255, 0.5);
}

p {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  background-color: rgba(248,248,255, 0.5);
}

button {
  width: 100%;
}

button:hover {
  background-color: pink;
  color: black;
}

/* extra large screens */
@media(min-width: 64em) {
  main > header > .header-title {
    font-size: 80px;
  }
  
  main > section > div > .program-details {
    min-width: 25em;
  }
  
  main {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/* large screens */
@media(min-width: 52em) and (max-width:64em) {
  main > header > .header-title {
    font-size: 80px;
  }
  
  main > header > .header-description > div > p {
    max-width: 28em;
  }
  
  main > section > div > .program-details {
    min-width: 20em;
    min-height: 10vh;
  }
  
  main {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* medium screens */
@media(min-width: 40em) and (max-width: 52em) {
  main > header > .header-title {
    font-size: 65px;
  }
  
  main > header > .header-description > div > p {
    max-width: 28em;
  }
  
  main > section > div > .program-details {
    min-width: 20em;
    min-height: 10vh;
  }
  main {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* small screens */
@media(min-width: 30em) and (max-width: 40em){
  main > header > .header-title {
    font-size: 40px;
  }
  main > header > .header-description > div > p {
    max-width: 28em;
    font-size: 90%;
  }
  
  main {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* extra small screens */
@media(max-width: 30em){
  main > header > .header-title {
    font-size: 30px;
  }
  main > header > .header-description > div > p {
    max-width: 28em;
    font-size: 80%;
  }
  
  main {
    overflow-x: hidden;
    overflow-y: auto;
  }
}


.home {
  min-height: 95vh;
}