<div>
  <form (ngSubmit)="onSubmit()" [ngFormModel]="form">
    <div *ngFor="let group of questions">
      <df-question-group 
        [group]="group" 
        [form]="form" 
        [showFollowing]="group.leadingQuestion.checked">
      </df-question-group>
    </div>
    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
