<main class="col-12 flex py1">
  <div class="col-2"></div>
  <div class="col-8 flex">
    <div class="col-2"></div>
    <div class="col-8 flex flex-column bg-silver center py2">
      <md-card-title>Question Key</md-card-title>
      <md-card-subtitle>The search key associated with this question.</md-card-subtitle>
      <div class="flex">
        <div class="col-2"></div>
        <select class="rounded col-8" 
          (change)="selectChange($event.target.value)">
            <option *ngIf="isEmpty()" selected disabled>
              select a key
            </option>
            <option
              *ngFor="let key of unusedKeys"
              [attr.selected]="isSelected(key.name) ? true : null"
              [value]="key.name">
                {{key.name}}
            </option>
        </select>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="col-2"></div>
</main>