main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questions {
  width: 100%;
  position: relative;
}

button:hover {
  background-color: pink;
  color: black;
}

@media(min-width: 64em) {
  .questions {
   width: 60%;
   margin: 0% 20%;
  }
  .submit-wrapper {
    width: 60%;
    margin: 0% 20%;
  }
  .floating-submit {
    display: none;
  }

}

@media(min-width: 52em) and (max-width:64em) {
  .questions {
    width: 70%;
    margin: 0% 15%;
  }
  
  .submit-wrapper {
    width: 70%;
    margin: 0% 15%;
  }

  .floating-submit {
    display: none;
  }
}

@media(min-width: 40em) and (max-width: 52em) {
  .questions {
    width: 80%;
    margin: 0% 10%;
  }
  
  .submit-wrapper {
    width: 80%;
    margin: 0% 10%;
  }

  .floating-submit {
    right: 5vw;
    top: 10vh;
    position: absolute;
    z-index: 999;
  }
}

@media(min-width: 30em) and (max-width: 40em){
  .questions {
    width: 90%;
    margin: 0% 2%;
  }
  
  .submit-wrapper {
    width: 90%;
    margin: 0% 2%;
  }

  .floating-submit {
    right: 4vw;
    top: 8vh;
    position: absolute;
    z-index: 999;
  }
}

@media(max-width: 30em){
  .questions {
    width: 95%;
    margin: 0 auto;
  }
  
  .submit-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .floating-submit {
    right: 3vw;
    top: 8vh;
    position: absolute;
    z-index: 999;
  }
}