<h1 class="center"> Eligibility Screener </h1>
<main *ngIf="!loading" [@flyin]>
  <!--
  <button md-mini-fab color="primary" class="floating-submit" (click)="onSubmit()"><i class="material-icons">send</i></button>
  -->
  <div *ngIf="errorMessage" class="center"> <strong>{{errorMessage}} </strong></div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="errorMessage.length === 0 && questions.length > 0">
  
    <div class="questions">
      <app-ycb-question *ngFor="let question of questions" [question]="question" [conditionalQuestions]="gatherConditionals(question)" [form]="form" (onExpand)="addControls($event)" (onHide)="removeControls($event)"></app-ycb-question>
    </div>

    <div class="submit-wrapper rounded flex">
      <button [disabled]="form.pristine || !form.valid"
        class="flex-grow" 
        md-raised-button color="primary"
        type="submit">
        SUBMIT
      </button>
    </div>

  </form>
  <div class="center"*ngIf="errorMessage.length === 0 && questions.length === 0"><strong>There are no questions available</strong></div>
</main>

<div *ngIf="loading">
  <md-progress-spinner style="margin: 10vh auto 0 auto" *ngIf="loading" color="primary" mode="indeterminate"></md-progress-spinner>
</div>