main {
  height: 94vh;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
}


@media(min-width: 40em) {
  main {
    background-image: url(assets/17_01_27_SkylineIllustration_2.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}


@media(max-width: 40em){
  main {
    background-image: url(assets/17_01_27_SkylineIllustration_2.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

.questions {
  width: 100%;
}

button {
  font-family: 'Roboto Mono', monospace;
}


@media(min-width: 64em) {
  .questions {
   width: 60%;
   margin: 0% 20%;
  }
  .submit-wrapper {
    width: 60%;
    margin: 0% 20%;
  }
}


@media(min-width: 52em) and (max-width:64em) {
  .questions {
    width: 70%;
    margin: 0% 15%;
  }
  
  .submit-wrapper {
    width: 70%;
    margin: 0% 15%;
  }
}


@media(min-width: 40em) and (max-width: 52em) {
  .questions {
    width: 80%;
    margin: 0% 10%;
  }
  
  .submit-wrapper {
    width: 80%;
    margin: 0% 10%;
  }
}


@media(min-width: 30em) and (max-width: 40em){
  .questions {
    width: 90%;
    margin: 0% 2%;
  }
  
  .submit-wrapper {
    width: 90%;
    margin: 0% 2%;
  }
}


@media(max-width: 30em){
  .questions {
    width: 90%;
  }
  
  .submit-wrapper {
    width: 90%;
  }
}

button:hover {
  background-color: pink;
  color: black;
}