main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  width: 100%;
}

main.ng-invalid {
  border: 1px solid red;
  padding: 2px;
}

.material-icons {
  cursor: pointer;
}

.number {
  width: 80%;
}

.boolean {
  width: 80%;
}