main {
  display: flex;
  align-items: center;
  height: 30px;
  border-left: solid 1px lightgrey;
}

main > * {
  margin-left: 1em;
}

main.ng-invalid {
  border: 1px solid red;
}

.material-icons {
  cursor: pointer;
}