<main class="col-12 flex py1">
  <div class="col-1"></div>
  <div class="col-10 flex">
    <div class="col-1"></div>
    <div class="col-10 bg-silver center py1">
      <md-card-title><p>Question Type</md-card-title>
      <md-card-subtitle><p>What kind of input you expect</md-card-subtitle>
      <div class="col-12 flex">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="flex flex-justify">
            <div class="col-1"></div>
            <div *ngFor="let option of options">
              <button *ngIf="option.value === type" md-raised-button color="primary">
                {{option.display}}
              </button>
              <button *ngIf="option.value !== type" (click)="dispatchChange(option.value)" md-button>
                {{option.display}}
              </button>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="col-1"></div>
</main>