<div class="py2">
</div>
<md-card [formGroup]="form">
  <div *ngIf="!conditional" class="clearfix">
    <div class="col-4 border-left px1">
      question {{index}} of {{length}}
    </div>
    <span class="col-6"></span>
  </div>
  <div class="p1"></div>
  <md-card-title> {{ question.label}} </md-card-title>
  <div [ngSwitch]="question.controlType">
    <!-- BOOLEAN TYPE -->
    <div *ngSwitchCase="'radio'">
      <div class="ml1" *ngIf="question.expandable">
        <md-radio-group [formControlName]="question.key" (change)="handleChange($event)">
          <md-radio-button *ngFor="let d of question.options" [value]="d.value">
            {{ d.display }}
          </md-radio-button>
        </md-radio-group>
      </div>
      <div class="ml1" *ngIf="!question.expandable">
        <md-radio-group [formControlName]="question.key">
          <md-radio-button *ngFor="let d of question.options" [value]="d.value">
            <div class="mr1"> {{ d.display }} </div>
          </md-radio-button>
        </md-radio-group>
      </div>
      <div *ngIf="question.expandable && expanded" class="col-10 flex flex-column">
        <app-question 
          *ngFor="let expandedQuestion of question.conditonalQuestions" 
          [question]="expandedQuestion" [conditional]="true" [form]="form">
        </app-question>
      </div>
    </div>

    <div *ngSwitchCase="'input'">
      <md-input [formControlName]="question.key" placeholder="input here"></md-input>
    </div>

    <div *ngSwitchDefault>
      <md-card-title> invalid question.controlType </md-card-title>
      <md-card-subtitle> {{question.controlType}} </md-card-subtitle>
    </div>
  </div>
</md-card>