.ng-invalid[type='textbox']{
  border-left: 5px solid red !important;
}

.ng-valid.ng-touched[type='textbox']{
  border-left: 5px solid green !important;
}

/* Basscss Forms */

label {
  font-size: 1.15rem;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

input[type='textbox'] {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}