
<main>
  <section id="header">
    {{ programQuery.form.valid }}
    {{ !programQuery.form.dirty }}
    <h3> query id: {{ programQuery.data.id }} </h3>
    <div class="flex-grow"></div>
    <button md-raised-button color="primary" (click)="saveQuery()" [disabled]="!programQuery.form.valid">save</button>
    <button md-raised-button [style.backgroundColor]="'darkorange'" (click)="newCondition()" [disabled]="!programQuery.form.valid">new condition</button>
  </section>
  <section id="conditions">
      <app-condition-edit-v3 (remove)="handleRemove($event)" *ngFor="let condition of programQuery.conditions" [condition]="condition">

      </app-condition-edit-v3>
    
  </section>
</main>