<div media-listener style="width:100%; height:100%">
  
  <ycb-navbar></ycb-navbar>
  <router-outlet></router-outlet>
  

  <footer class="white bg-black">
    <div class="px2 py3 container">
      <div class="clearfix mxn2">
        <div class="col col-6 md-col-3">
          <ul class="list-reset">
            <li>
              <h3 class="h4 m0">
                <a href="#" class="btn block">Home</a>
              </h3>
            </li>
            <li><a href="#" class="h5 btn block">Bacon</a></li>
            <li><a href="#" class="h5 btn block">Bratwurst</a></li>
            <li><a href="#" class="h5 btn block">Andouille</a></li>
            <li><a href="#" class="h5 btn block">Pork Loin</a></li>
          </ul>
        </div>
        <div class="col col-6 md-col-3">
          <ul class="list-reset">
            <li>
              <h3 class="h4 m0">
                <a href="#" class="btn block">Categories</a>
              </h3>
            </li>
            <li><a href="#" class="h5 btn block">Bacon</a></li>
            <li><a href="#" class="h5 btn block">Bratwurst</a></li>
            <li><a href="#" class="h5 btn block">Andouille</a></li>
            <li><a href="#" class="h5 btn block">Pork Loin</a></li>
          </ul>
        </div>
        <div class="col col-6 md-col-3">
          <ul class="list-reset">
            <li>
              <h3 class="h4 m0">
                <a href="#" class="btn block">Categories</a>
              </h3>
            </li>
            <li><a href="#" class="h5 btn block">Bacon</a></li>
            <li><a href="#" class="h5 btn block">Bratwurst</a></li>
            <li><a href="#" class="h5 btn block">Andouille</a></li>
            <li><a href="#" class="h5 btn block">Pork Loin</a></li>
          </ul>
        </div>
        <div class="col col-6 md-col-3">
          <ul class="list-reset">
            <li>
              <h3 class="h4 m0">
                <a href="#" class="btn block">About</a>
              </h3>
            </li>
            <li><a href="#" class="h5 btn block">Bacon</a></li>
            <li><a href="#" class="h5 btn block">Bratwurst</a></li>
            <li><a href="#" class="h5 btn block">Andouille</a></li>
            <li><a href="#" class="h5 btn block">Pork Loin</a></li>
          </ul>
        </div>
      </div>
      <p class="h6 mb0">&copy; 2014 Hamburgers, LLC</p>
    </div>
  </footer>
  </div>

