form {
  display: flex;
  width: 100%;
  align-items: center;
  height: 5vh;
}

container {
  display: flex;
  width: 75%;
  align-items: inherit;
  height: 100%;
}

#condition {
  display: flex;
  width: 60%;
  align-items: inherit;
  height: 100%;
}

.ng-valid {
  color: green;
}

.ng-invalid {
  color: red;
}

#condition > *.ng-valid {
  border: green solid 1px;
}

#condition > *.ng-invalid {
  border: red solid 1px;
}
