form {
  display: flex;
  width: 90%;
  align-items: center;
  height: 5vh;
  margin: 0 auto;
}

#condition {
  display: flex;
  width: 100%;
  padding-left: 5%;
  align-items: inherit;
  height: 100%;
}

.ng-valid {
  color: green;
}

.ng-invalid {
  color: red;
}

#condition > *.ng-valid {
  border: green solid 1px;
}

#condition > *.ng-invalid {
  border: red solid 1px;
}

@media(min-width: 1024px) {
  #number-key-edit > md-input-container {
    margin-left: 1.5em;
  }
}


@media(max-width: 1024px) {
  #number-key-edit > md-input-container {
    padding-left: 1em;
  }
}