<div class="flex large-admin-wrapper bg-silver" style="overflow-y:hidden">
  <div class="flex-none large-sidenav-wrapper rounded-right lg-show">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col col-12" style="height:100%;">
    <div class="p2"></div>
    <div class="col col-12 flex" style="height:100%;">
      <div class="px1 md-show"></div>
      <div class="col col-10  large-admin-content-wrapper flex-grow">
        <div class="ml2 mr2">
          <app-bread-crumb></app-bread-crumb>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="px1 md-show"></div>
    </div>
  </div>
  <div class="p2 lg-show"></div>
</div>