<div class="col-12 flex">
  <div class="border-left border-right bg-silver col-12 py1">
    <div class="clearfix flex ml1">
      <div class="col-2 flex-grow border-right unselectable" style="pointer-events:none"> 
        question count: {{ questionCount$ | async }} 
      </div>
      <div class= "col-2 flex-grow border-right ml1 unselectable" style="pointer-events:none"> 
        created on: {{ creationDate$ | async }} 
      </div>
      <div class= "col-2 flex-grow ml1 unselectable" style="pointer-events:none"> 
        version: {{ versionNumber$ | async }} 
      </div>
     </div>
  </div>
</div>