@media(min-width: 52em) {
  section {
    width: 50%;
  }
}


main {
  height: 94vh;
  width: 100vw;
  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
}

section {
  background-color: rgba(248,248,255, 0.2);
  margin: 0 auto;
}

@media(min-width: 40em) and (max-width: 52em) {
  section {
    width: 70%;
  }
}

@media(max-width: 40em){
 
  section {
    width: 90%;
  }
}