@media(min-width: 52em) {
  main {
    background-image: url(assets/city-skyline-greyscale.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  section {
    width: 50%;
  }
}


main {
  height: 94vh;
  width: 100vw;
  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
}

section {
  background-color: rgba(248,248,255, 0.2);
  margin: 0 auto;
}

@media(min-width: 40em) and (max-width: 52em) {
  main {
    background-image: url(assets/city-skyline-greyscale.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  section {
    width: 70%;
  }
}

@media(max-width: 40em){
  main {
    background-image: url(assets/city-skyline-greyscale.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  section {
    width: 90%;
  }
}