

:host {
    width: 100%;
    margin-top: 2em;

}
main {
    background-color: lightgoldenrodyellow;
    width: 90%;
}

section {
    margin: 0 auto;
}

@media(min-width: 52em) {
    section {
        width: 50%;
    }

    hr {
        width: 50%;
    }
}


@media(min-width: 40em) and (max-width: 52em) {
    section {
        width: 70%;
    }

    hr {
        width: 75%;
    }
}

@media(max-width: 40em){

    section {
        width: 90%;
    }
}