<main>
    <a href="https://github.com/yeg-relief" target="_blank">
        <img style="position: absolute; top: 5; left: 0; border: 0;"
             src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67"
             alt="Fork me on GitHub"
             data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png">
    </a>
    <section>
        <h1>Information about program and origins</h1>
        <p> You Can Benefit provides easy web access to information about a range of
            financial benefits and subsidies. The web tool provides individuals, families, and
            community workers with easy to access information on available municipal, provincial and
            federal benefits. You Can Benefit is a made in Edmonton project that is a partnership
            between the City of Edmonton, e4c, and volunteers from BetaCityYEG.  The tool will have
            open source content and as such, it can be shared with other organizations and
            municipalities nationwide.
    </section>

    <hr>

    <section>
        <h1><a href="https://e4calberta.org/" target="_blank">e4c</a></h1>
        <p>e4c is a non-profit, charitable organization that has been working for almost
            50 years to help vulnerable people here and now. At the same time, we’re working to
            prevent and eventually eliminate poverty. It’s a big task, but one we know is possible
            with the help of others who are ready to see the strength we see in the people we serve.
            Our organization’s areas of focus are shelter and housing, community and collaboration,
            skill development and education, and food security.
    </section>

    <hr>

    <section>
        <h1><a href="https://betacity.ca/" target="_blank">BETA CITY YEG</a></h1>
        <p>BetaCityYEG is Canada's oldest civic technology meetup and meets monthly at <a href="http://www.startupedmonton.com/" target="_blank">Startup Edmonton</a>. It brings together
            civic-minded data scientists, programmers, and public and nonprofit employees to co-create solutions for the city and region.
    </section>

    <hr>

    <section>
        <h1><a href="https://www.linkedin.com/in/steven-myers-7b750789/" target="_blank">Steven Myers</a></h1>
        <p> Provided the technical expertise by architecting and implementing the application. He is a
            Computing Science graduate of the University of Alberta and is employed as a software developer
            in Edmonton, Alberta, Canada.
    </section>
</main>

