.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ececec;
}

h2[md-dialog-title] {
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1rem;
    font-size: xx-large;
    padding-top: 1rem;
    background-color: darkorange;
    color: white;
}

md-dialog-actions {
    padding-bottom: 1.25rem;
    padding-left: 2em
}

md-dialog-content {
    margin: 0em auto;
    min-height: 50%;
    border-radius: 5px;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px lightgray;
    background-color: ghostwhite;
}

md-dialog-content > textarea {
    width: 100%;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 600px) {
    textarea {
        height: 223px;
        width: 426px;
        font-size: large;
        resize: none;
        overflow: auto;
    }

    .detail-links {
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    textarea {
        height: 223px;
        width: 375px;
        font-size: large;
        resize: none;
        overflow: auto;
    }

    .detail-links {
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    textarea {
        height: 223px;
        width: 290px;
        font-size: large;
        resize: none;
        overflow: auto;
    }

    .detail-links {
        margin: 0 auto;
        width: 80%;
    }
}

ul {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-right: 2rem;
}



button[md-dialog-close] {
    margin-bottom: 2rem;
    background-color: darkorange;
    color: white;
}