<app-bread-crumb class="col col-12">
  <app-edit-controls class="col-12"></app-edit-controls>
</app-bread-crumb>
<md-card class="col col-12 flex flex-column overview-wrapper">
  <div *ngIf="!(saving$ | async)">
    <app-screener-stats
      [questionCount]="(workingScreener$ | async)?.questions?.length"
      [creationDate]="(workingScreener$ | async)?.meta.screener.created"
      [versionNumber]="(workingScreener$ | async)?.meta.screener.version"
      [error]="''">
    </app-screener-stats>
    <div class="p2"></div>
    <div class="p2"></div>
    <div *ngIf="(workingScreener$ | async)?.questions.length > 0">
      <app-edit-questions [questions]="(workingScreener$ | async)?.questions">
      </app-edit-questions>
    </div>
  </div>
  <div class="clearfix flex">
    <div class="col-4"></div>
    <md-progress-circle class="flex-grow"
        color="accent"
        mode="indeterminate" 
        *ngIf="(saving$ | async)">
    </md-progress-circle>
    <div class="col-4"></div>
  </div>
  <div class="p2"></div>
</md-card>
