<div class="flex flex-justify clearfix">
  <button md-mini-fab color="primary">
    <i class="material-icons">save</i>
  </button>
  <div class="px2 flex-none"></div>
  <button 
    md-mini-fab 
    color="warn"
    routerLink="/admin/master-screener/edit/version/{{workingEditVersion$ | async}}">
    <i class="material-icons">clear</i>
  </button>
  <div class="px2 flex-none"></div>
  <button md-mini-fab 
     color="primary" 
    (click)="handleUndo()">
    <i class="material-icons">undo</i>
  </button>
  <div class="px2 flex-none"></div>
  <button md-mini-fab 
    color="primary"
    (click)="handleRedo()">
    <i class="material-icons">redo</i>
  </button>
  <div class="col-1 flex-grow"></div>
</div>