<p>{{ query.conditions.length }} conditions for [future: query.id]</p>

<app-new-condition (save)="handleSave($event)"></app-new-condition>
<app-condition-edit-v2 
  (update)="handleUpdate($event)" 
  *ngFor="let condition of query.conditions;let i = index;"
  [form]="queryForm.controls[i]" 
  [condition]="condition"> 
  <button md-button title="delete this condition" (click)="handleDelete(i)">
    <i class="material-icons" style="color: red">
      clear
    </i>
  </button>
</app-condition-edit-v2>