<main [ngClass]="mediaWidth| async" style="height:100%">
  <div [ngSwitch] = "mediaWidth | async">
    
    <!-- SMALL LAYOUTS -->
    <div *ngSwitchCase="'SMALL'" >
      <div class="home-container" [ngClass]="mediaWidth| async">
        <md-card [style.background-color]="'lightblue'">
            <img 
              md-card-image src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" 
              [style.width]="'50%'"
              [style.margin-left]="'25%'"
              [style.margin-right]="'25%'"
              [style.padding-top]="'5%'">
            <md-card-content>
                <div style="width:100%">
                  <md-grid-list cols="2" [style.background]="'lightyellow'">
                    <md-grid-tile>
                      <div>
                        <a [routerLink]="['/404']">
                          <button md-raised-button [style.width]="'100%'">Browse</button>
                        </a>
                      </div>
                    </md-grid-tile>
                    <md-grid-tile>
                      <div>
                        <a [routerLink]="['/master-screener']">
                          <button md-raised-button [style.width]="'100%'">Discover</button>
                        </a>
                      </div>
                    </md-grid-tile>
                  </md-grid-list>
              </div>
            </md-card-content>
          </md-card>
      </div>
    </div>
    
    <!-- LARGE OR MEDIUM LAYOUTS -->
    <div *ngSwitchDefault >
      <div class="home-container" [ngClass]="mediaWidth| async">
        <md-card [style.background-color]="'lightblue'">
          <img 
            md-card-image src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" 
            [style.width]="'50%'"
            [style.margin-left]="'25%'"
            [style.margin-right]="'25%'"
            [style.padding-top]="'5%'">
          <md-card-content [style.background-color]="'lightyellow'">
              <div style="width:100%">
                <md-grid-list cols="2" [style.background]="'lightyellow'">
                  <md-grid-tile>
                    <md-card [style.background-color]="'lightblue'">
                      <md-card-header>
                        <md-card-title><b>Find Details</b></md-card-title>
                        <md-card-subtitle><b>Learn About Programs</b></md-card-subtitle>
                      </md-card-header>
                      <md-card-content>
                        <a [routerLink]="['/404']">
                          <button md-raised-button [style.width]="'100%'">Launch</button>
                        </a>
                      </md-card-content>
                    </md-card> 
                  </md-grid-tile>
                  <md-grid-tile>
                    <md-card [style.background-color]="'lightblue'">
                      <md-card-header>
                        <md-card-title><b>Master Screener</b></md-card-title>
                        <md-card-subtitle><b>Discover Potential Programs</b></md-card-subtitle>
                      </md-card-header>
                      <md-card-content>
                        <a [routerLink]="['/master-screener']">
                          <button md-raised-button [style.width]="'100%'">Discover</button>
                        </a>
                      </md-card-content>
                  </md-card>  
                  </md-grid-tile>
                </md-grid-list>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    
    
  </div>
</main>