<div id="animation-wrapper" [@routeAnimation]>
  <app-overview-controls [loaded]="!(loading$ | async)"></app-overview-controls>

  <app-program-list-paginator [metaData]="pageMetaData$ | async"></app-program-list-paginator>

  <div class="program-list-container" *ngIf="(programs$ | async)?.length > 0 && !(loading$ | async)" >
    <div class="program" *ngFor="let program of (programs$ | async)" [@fadeinAndOut]>
      <app-program-detail [program]="program"></app-program-detail>
      <app-program-detail-control [program]="program"></app-program-detail-control>
    </div>
  </div>

  <md-progress-spinner 
    [@fadeinAndOut]
    *ngIf="(loading$ | async)" 
    color="accent" 
    mode="indeterminate">
  </md-progress-spinner>

  <div class="empty-statement" *ngIf="(programs$ | async)?.length === 0 && !(loading$ | async)" [@fadeinAndOut]>
    <div>No programs found</div>
  </div>
</div>