<md-card style="margin-top: 3vh; margin-bottom: 3vh;">
  

  <form [formGroup]="form">
    <section [ngSwitch]="question.controlType">

      <div *ngSwitchCase="'NumberInput'">
        <md-card-title id="question-label"> {{ question.label }} </md-card-title>

        <div class="py1"></div>

        <md-input formControlName="question.key" placeholder="input here"></md-input>

      </div>

      <div *ngSwitchCase="'CheckBox'">
        <md-card-title> <md-checkbox formControlName="{{question.key}}"> {{ question.label }} </md-checkbox> </md-card-title>
      </div>


      <div *ngSwitchCase="'NumberSelect'">
        <md-card-title id="question-label"> {{ question.label }} </md-card-title>
        <select style="width: 15vw; height: 5vh; min-width:200px" formControlName="{{ question.key }}">
          <option *ngFor="let option of question.options"> {{ option }} </option>
        </select>
      </div>

      <div *ngSwitchDefault> <strong> {{ question.controlType }} is invalid </strong> </div>
    </section>
  </form>
  <div *ngIf="showQuestions">
    <app-ycb-question
      *ngFor="let expandableQuestion of conditionalQuestions" 
      [question]="expandableQuestion" 
      [form]="form">
    </app-ycb-question>
  </div>
  
  <div class="py1"></div>
</md-card>