main {
  height: 96vh;
  width: 100vw;
  position: fixed;
}

md-card {
  font-family: 'Roboto Mono', monospace;
}

button[md-raised-button]:not([disabled]):hover {
  background-color: pink;
  color: black;
}