<md-card>
  <app-user-question [question]="question" (makeExpandable)="makeExpandable($event)" (keyChange)="keyChange.emit($event)"></app-user-question>
  <md-card-actions class="flex">

    <div *ngIf="question.expandable" >
      <button md-button (click)="addConditionalQuestion()"> 	&#10133; </button> 
      <button md-button *ngIf="!showConditionals" (click)="toggleConditionals()"> SHOW </button>
      <button md-button *ngIf="showConditionals" (click)="toggleConditionals()"> HIDE </button>
    </div>
    
    <button md-raised-button color="warn" (click)="deleteQuestion()"  style="font-size: 125%"> &#10006; </button>
  
  </md-card-actions>
</md-card>

<div *ngIf="question.expandable && showConditionals" class="conditional-questions-container">
  <app-conditional-questions 
    (swapConditionals)="swapConditionalQuestions($event)"
    (removeConditional)="deleteConditionalQuestion($event)" 
    [questions]="conditionalQuestions">
  </app-conditional-questions>
</div>