<md-card>
  <div class="col-12 flex">
    <md-card-title> Selected Question </md-card-title>
    <div class="flex-grow"></div>
    <button md-raised-button color="warn" (click)="deleteQuestion()"  style="font-size: 125%; width: 10vw"> &#10006; </button>
  </div>
  <app-user-question [question]="question" (makeExpandable)="makeExpandable($event)"></app-user-question>
</md-card>
{{ (form | async) | json }}
<div *ngIf="( (form | async)?.expandable )" class="conditional-questions-container">
  <app-conditional-questions
    (addQuestion)="addConditionalQuestion()" 
    (swapConditionals)="swapConditionalQuestions($event)"
    (removeConditional)="deleteConditionalQuestion($event)"
    (handleSelect)="handleSelect($event)" 
    [questionIDs]="conditionalQuestions"
    [selectedQuestion]="selectedQuestion">
  </app-conditional-questions>
</div>