:host {
  background-color: darkslateblue;
}

.ng-invalid {
  background-color: darkred;
}

.ng-error {
  background-color: lightgoldenrodyellow;
}

.dragStart {
  opacity: 0.4;
}

.dragOver {
  border: 2px dashed #000;
}

.container_over {
  color: ghostwhite;
  border: 2px solid ghostwhite;
}


.selected {
  border: 5px solid blue;
}

.header {
  min-height: 5em;
  padding-right: 1em;
}

md-list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: darkslateblue;
}

.question-item {
  cursor: pointer;
}