:host {
  background-color: darkslateblue;
}

.ng-invalid {
  background-color: darkred;
}

.ng-error {
  background-color: lightgoldenrodyellow;
}

.selected {
  border: 5px solid blue;
}

.header {
  min-height: 5em;
  padding-right: 1em;
}

md-list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: darkslateblue;
}

.question-item {
  cursor: pointer;
}