<div class="flex flex-center flex-justify clearfix">
  <div class="col-4 flex flex-justify">
    <div class="col-1"></div>
    <select class="rounded" [attr.disabled]="loading ? true : null">
      <option disabled
        [attr.selected]="isSelected(version) ? true : null"
        [attr.disabled]="loading ? true : null"
        *ngFor="let version of versions">version {{version}}</option>
    </select>
    <div class="col-1"></div>
  </div>
  
  
<!-- having trouble binding disabled/readonly/pointer events ... just going to change what's rendered -->
  <div class="col-4 flex flex-justify" *ngIf="!loading">
    <div class="col-2"></div>
    <md-checkbox 
      [checked]="true" 
      (change)="keyChange($event.checked)">
      <div class="unselectable"><p class="mt2">keys</div>
    </md-checkbox>
    <div class="col-2"></div>
    <md-checkbox 
      [checked]="true" 
      (change)="questionChange($event.checked)">
      <div class="unselectable"><p class="mt2">questions</div>
    </md-checkbox>
    <div class="col-2"></div>
  </div>
  
  <div class="col-4 flex flex-justify" *ngIf="loading">
    <div class="col-2"></div>
    <md-checkbox 
      style="pointer-events:none"
      [checked]="false"
      [indeterminate]="true"
      (change)="keyChange($event.checked)">
      <div class="unselectable"><p class="mt2">keys</div>
    </md-checkbox>
    <div class="col-2"></div>
    <md-checkbox 
      style="pointer-events:none"
      [checked]="false"
      [indeterminate]="true"
      color="primary" 
      (change)="questionChange($event.checked)">
      <div class="unselectable"><p class="mt2">questions</div>
    </md-checkbox>
    <div class="col-2"></div>
  </div>
  
  <div class="col-4 flex flex-justify">
    <!-- version number shouldn't be hardcoded only for prototype -->
    <div class="col-1"></div>
    <button md-raised-button color="primary" class="col-4"
      [attr.disabled]="loading ? true : null"
      routerLink="/admin/master-screener/edit/version/8"> edit </button>
    <div class="col-1"></div>
    <button md-raised-button color="primary" class="col-4"
      [attr.disabled]="loading ? true : null" 
      routerLink="/admin/master-screener/preview/version/8"> preview </button>
    <div class="col-1"></div>
  </div>
  
</div>