<div class="flex flex-center clearfix ml1 p1">
  <select name="version" class="col-3 rounded tooltip" my-title="this is disabled during demo">
    <option disabled>version 1</option>
    <option disabled>version 2</option>
    <option disabled>version 3</option>
    <option disabled>version 4</option>
    <option disabled>version 5</option>
    <option disabled>version 6</option>
    <option disabled>version 7</option>
    <option selected>version 8</option>
  </select>
  <div class="col-1"></div>
  <md-checkbox [checked]="true" (change)="keyChange($event.checked)">
    <div class="unselectable tooltip" my-title="toggle key display">keys</div>
  </md-checkbox>
  <div class="col-1"></div>
  <md-checkbox [checked]="true" (change)="questionChange($event.checked)">
    <div class="unselectable tooltip" my-title="toggle question display">questions</div>
  </md-checkbox>
  <div class="col-1 flex-grow"></div>
  <!-- version number shouldn't be hardcoded only for prototype -->
  <button md-raised-button
    title="edit master screener" 
    routerLink="/admin/master-screener/edit/version/8"> EDIT </button>
  <div class="px1"></div>
  <button md-raised-button
    title="live preview of screener" 
    routerLink="/admin/master-screener/preview/version/8"> PREVIEW </button>
</div>