<div *ngFor="let question of questions; let i = index" class="clearfix flex mt1 mb1">
  <div class="questions">
    <div class="question-preview">
      <div class="col-12 flex flex-center mt1">
        <app-question [question]="question" 
          [index]="i + 1" 
          [length]="questions.length" 
          [conditional]="false" [form]="form"
          (onExpand)="addControls($event)" (onHide)="removeControls($event)"
          class="col-8 ml1">
        </app-question>
        <div class="col-1"></div>
        <app-edit-question-controls class="col-1 mt2"></app-edit-question-controls>
      </div>
    </div>
  </div>
 </div>
