/* You can add global styles to this file, and also import other style files */

@import '~basscss/css/basscss.min.css';


@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';



body {
  font-family: 'Roboto Mono', monospace;
}

input[type=submit]{
  font-family: 'Roboto Mono', monospace;
}

button[md-raised-button] {
  font-family: 'Roboto Mono', monospace;
}