/* You can add global styles to this file, and also import other style files */

@import '~basscss/css/basscss.min.css';


@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin: 0;
  background-color: cornsilk
}


document,
body,
label,
button,
span,
main,
section,
md-card,
md-card-subtitle,
md-card-title,
div{
  font-family: 'Open Sans', sans-serif;
}

.fadein {
  will-change: opacity;
  animation: fadein 200ms ease-in;
}

.fadein-slow {
  will-change: opacity;
  animation: fadein 10s ease-out;
}

@keyframes fadein{
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout{
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
  }
}