/* You can add global styles to this file, and also import other style files */

@import '~basscss/css/basscss.min.css';


@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin: 0;
  background-color: cornsilk
}


document,
body,
label,
button,
span,
main,
section,
div{
  font-family: 'Open Sans', sans-serif;
}