<md-card>
  
  <md-card-title> Screener Edit </md-card-title>
  <div class="flex flex-justify">
    <section>
      <md-card-subtitle> latest server update: {{ created | date }} </md-card-subtitle>
      <md-card-subtitle> this screener has {{ count }} questions </md-card-subtitle>
    </section>
    <section class="flex flex-column flex-justify flex-stretch">

      <button [disabled]="!adminForm.valid" (click)="save.emit()" md-raised-button color="primary"> SAVE </button>

    </section>
  </div>
  <md-input disabled class="col-4" (keypress)="filter.emit($event.key.toLowerCase())" placeholder="filter by key"></md-input>
</md-card>