<md-card style="height: 25vh;">
   <md-card-title> Screener Edit </md-card-title>
  <div class="flex flex-justify">
    <section>
      <md-card-subtitle> latest server update: {{ updated | date }} </md-card-subtitle>
      <md-card-subtitle> this screener has {{ count }} questions </md-card-subtitle>
    </section>
    
    <section class="flex flex-column flex-justify flex-stretch">

      <button [disabled]="disabled" style="width: 20vw; height: 5vh" (click)="handleSave()" md-raised-button color="primary"> SAVE </button>
      <div *ngIf="errors.error !== ''" style="color:red; width: 20vw;">  
        <p>Errors detected during last save attempt. Questions highlighted red are invalid.  
      </div> 


    </section>
    
  </div>
  <form [formGroup]="adminControls">
    <label> <button disabled md-button>filter by key</button>
      <select formControlName="keyFilter" class="col-4" placeholder="filter by key" style="min-height: 3.5em">
        <option [value]="''"> all </option>
        <option *ngFor="let key of allKeys" [value]="key"> {{ key }} </option>
      </select>
    </label>
  </form>
</md-card>