<md-card style="height: 25vh;">
   <md-card-title> Screener Edit </md-card-title>
  <div class="flex flex-justify">
    <section>
      <md-card-subtitle> latest server update: {{ ( created$ | async ) | date }} </md-card-subtitle>
      <md-card-subtitle> this screener has {{ count$ | async }} questions </md-card-subtitle>
    </section>
    
    <section class="flex flex-column flex-justify flex-stretch">

      <button [disabled]="disabled" style="width: 20vw; height: 5vh" (click)="handleSave()" md-raised-button color="primary"> SAVE </button>
      <div *ngIf="errors.error !== ''" style="color:red; width: 20vw;">  
        <p>Errors detected during last save attempt. Questions highlighted red are invalid.  
      </div> 


    </section>
    
  </div>
  <form [formGroup]="adminControls">
    <md-input-container>
      <input type="text" mdInput formControlName="keyFilter" placeholder="filter by key name" [mdAutocomplete]="auto">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFunction">
      <md-option *ngFor="let key of (allKeys$ | async)" [value]="key" [style.height]="'3em'">
          <pre>{{ key?.name }} : {{ key?.type }}</pre>
      </md-option>
    </md-autocomplete>
  </form>
</md-card>