<div class="flex flex-row bg-white page-container">
  <div class="flex flex-column flex-center border-right bg-darken-2 md-show" id="side-content">
    <div class="flex flex-grow clearfix" style="height:100%; width:100%;">
      <div class="flex flex-center flex-column">
        <div class="flex col-6 md-col-6  b p2">
          <div class="p1">
            <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="256" height="auto" />
            <p class="m0">Dynamic content</p>
          </div>
        </div>
        
        <div class="flex col-6 md-col-6  p2">
          <div class="p1">
            <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="256" height="auto" />
            <p class="m0">Dynamic content</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="flex flex-column flex-center launcher-section">
    <div class="container clearfix border rounded mb2 px2 bg-darken-2 black" style="">
      <h2 class="center">Master Screener</h2>
      <div class="flex flex-start flex-center mb2" style="min-height:100%">
        <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg"
          class="flex-none mr2 launcher-image" />
        <div class="flex flex-column flex-center flex-justify launcher-section">
          <p class="m0">
            <b>Description of Master Screener (Need a more user-friendly name)</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
             Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.   
          </p>
          <div class="flex-grow"></div>
          <button class="flex-end btn btn-outline white bg-blue mt1">Launch</button>
        </div>
      </div>
    </div>
    
    <div class="flex flex-center md-hide">
      <div class="container clearfix border rounded mb2 px2 bg-darken-2 black" style="">
        <h2 class="center">Dynamic Content</h2>
      </div>
   </div>
  </div>
</div>

