<div class="flex flex-column flex-center flex-justify bg-white page-container">
  <div class="flex-grow launcher-section">
    <div class="container clearfix border rounded mb2 px2 bg-white black" style="">
      <h2 class="center">Master Screener</h2>
      <div class="flex flex-start flex-center mb2" style="min-height:100%">
        <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg"
          class="flex-none mr2 launcher-image" />
        <div class="flex flex-column flex-center flex-justify launcher-section">
          <p class="m0">
            <b>Description of Master Screener (Need a more user-friendly name)</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
             Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.   
          </p>
          <div class="flex-grow"></div>
          <button class="flex-end btn btn-outline white bg-blue launcher-start-button">Launch</button>
        </div>
      </div>
    </div>
    
    <div class="container clearfix border rounded px2 bg-white black" style="">
      <h2 class="center">Browse individual Screens</h2>
      <div class="flex flex-start flex-center mb2" style="min-height:100%">
        <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg"
          class="flex-none mr2 launcher-image" />
        <div class="flex flex-column flex-center flex-justify launcher-section">
            <div class="container">
              <p class="m0">
                <b>Description of Master Screener (Need a more user-friendly name)</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.   
              </p>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="flex flex-column flex-center flex-justify bg-silver" style="min-height:100vh; min-width:100%; background-color:white; ">
  <div class="flex-center flex-column flex-justify">
    <div>
      <h1>YouCanBenefit</h1>
    </div>
  </div>
  <div class="flex-row" style="min-width:100%;">
    <input type='textbox' class="flex-grow rounded" placeholder='Search Benefits'>
  </div>
  <div style="min-height:10em;">
    
    <div>
      <h1>launchers</h1>
    </div>
  </div>
</div>
-->