.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button{
  margin-top: 10px;
  background-color: grey;
}

.center{
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

main .LARGE{
  margin-top: 5%;
}

main .MEDIUM{
  margin-top: 30%;
}

main .SMALL{
  margin-top: 50%;
}