<app-bread-crumb class="col col-12">
  <app-overview-controls 
    [keyToggle]="keyToggle" 
    [questionToggle]="questionToggle" 
    [versions]="(versions$ | async)"
    [loading]="(loading$ | async)"
    [error]="(error$ | async)"
    class="col col-12">
  </app-overview-controls>
</app-bread-crumb>
<md-card class="col col-12 flex flex-column overview-wrapper">
  <div class="p1">
  </div>
  <div *ngIf="!(loading$ | async)">
    <app-screener-stats
        [questionCount]="(questionCount$ | async)"
        [creationDate]="(creationDate$ | async)"
        [versionNumber]="(workingVersion$ | async)"
        [error]="(error$ | async)">
    </app-screener-stats>
    
    <div class="p1"></div>
    <div class="p1"></div>
    <div *ngIf="!(loading$ | async)">
      <app-key 
          [toggled]="keyToggle"
          [keys]="(keys$ | async)"
          [error]="(error$ | async)">
      </app-key>
    </div>
    <div class="p2"></div>
    <div *ngIf="!(loading$ | async)">
      <app-overview-question 
          [toggled]="questionToggle"
          [questions]="(questions$ | async)"
          [error]="(error$ | async)">
      </app-overview-question>
    </div>
    <div *ngIf="(error$ | async).length !== 0" class="clearfix border center error rounded">
      {{error$ | async}} <br>
      <p> this is expected... merely to show what an error looks like, select version 3 above.
    </div>
  </div>
  
  <div class="clearfix flex">
    <div class="col-4"></div>
    <md-progress-circle class="flex-grow"
        color="accent"
        mode="indeterminate" 
        *ngIf="(loading$ | async)">
    </md-progress-circle>
    <div class="col-4"></div>
  </div>
  <div class="p2"></div>
</md-card>