md-progress-circle {
  margin-top: 5%;
}

.overview-wrapper {
  height: 80vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.error {
  border: 1px solid red;
  font-family: 'Roboto Mono', monospace;
  font-size: 130%;
  background-color: black;
  color: white;
}