<md-card class="col col-12 flex flex-column overview-wrapper">
  <div class="p1">
  </div>
  <app-controls 
      [keyToggle]="keyToggle" 
      [questionToggle]="questionToggle" 
      [versions]="(versions$ | async)"
      [workingVersion]="(workingVersion$ | async)"
      [loading]="(loading$ | async)"
      [error]="(error$ | async)">
  </app-controls>
  <div class="p1"></div>
  <div>
    <app-screener-stats></app-screener-stats>
  </div>
  <div class="p1"></div>
  <div *ngIf="!(loading$ | async)">
    <app-key 
        [toggled]="keyToggle"
        [keys]="keys"
        [error]="(error$ | async)">
    </app-key>
  </div>
  <div class="p2"></div>
  <div *ngIf="!(loading$ | async)">
    <app-question 
        [toggled]="questionToggle"
        [questions]="questions"
        [error]="(error$ | async)">
    </app-question>
  </div>
  <div *ngIf="(error$ | async).length !== 0" class="clearfix border center error rounded">
    {{error$ | async}}
  </div>
  
  <div class="clearfix flex">
    <div class="col-4"></div>
    <md-progress-circle class="flex-grow"
        color="accent"
        mode="indeterminate" 
        *ngIf="(loading$ | async)">
    </md-progress-circle>
    <div class="col-4"></div>
  </div>
  <div class="p2"></div>
</md-card>