section {
  border: 1px solid black; 
  min-height: 80vh;
  min-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  overflow-y: auto;
  overflow-x: auto;
  background-color: ghostwhite;
}

md-progress-circle {
  margin-top: 5%;
}